In [2]:
%%time
from pathlib import Path
import pandas as pd
import numpy as np

CPU times: user 1.5 s, sys: 428 ms, total: 1.93 s
Wall time: 6.21 s

# Fix timeseries part

In [86]:
import pandas as pd
import numpy as np

# Load CSV file
csv_file_path = '/Data/Flanders_dataset_big/flandersdata.csv'  # Provide the path to your CSV file
data_from_csv = pd.read_csv(csv_file_path, header=None, sep=';')

# Calculate the sum of the 3rd and 4th values for each row
values_to_fill = float(data_from_csv.iloc[:, 2]) + float(data_from_csv.iloc[:, 3])

# Create date range for the year 2021
start_date = pd.Timestamp('2022-01-01')
end_date = pd.Timestamp('2022-12-31')
date_range = pd.date_range(start_date, end_date, freq='D')

# Generate multi-index with meterid and date
meter_ids = np.arange(1, 1301)
index = pd.MultiIndex.from_product([meter_ids, date_range], names=['meterID', 'date'])

# Create 96 columns for each 15-minute interval of the day
columns = pd.date_range('2022-01-01', periods=96, freq='15min')

# Create DataFrame with random values
data = np.random.randint(1, 101, size=(len(index), len(columns)))
df = pd.DataFrame(data, index=index, columns=columns)

df.head()

                    2022-01-01 00:00:00  2022-01-01 00:15:00  \
meterID date
1       2022-01-01                   77                   54
        2022-01-02                   84                   82
        2022-01-03                   76                   98
        2022-01-04                   34                   59
        2022-01-05                   16                   55

                    2022-01-01 00:30:00  2022-01-01 00:45:00  \
meterID date
1       2022-01-01                   94                   37
        2022-01-02                    2                   15
        2022-01-03                   83                   17
        2022-01-04                   10                   80
        2022-01-05                   70                    9

                    2022-01-01 01:00:00  2022-01-01 01:15:00  \
meterID date
1       2022-01-01                   22                   53
        2022-01-02                   86                   64
        2022-01-03                   65                   59
        2022-01-04                    4                   24
        2022-01-05                   14                   24

                    2022-01-01 01:30:00  2022-01-01 01:45:00  \
meterID date
1       2022-01-01                   96                   26
        2022-01-02                   15                   41
        2022-01-03                   11                   59
        2022-01-04                    9                   87
        2022-01-05                   15                   17

                    2022-01-01 02:00:00  2022-01-01 02:15:00  ...  \
meterID date                                                  ...
1       2022-01-01                   59                   90  ...
        2022-01-02                   26                   17  ...
        2022-01-03                   72                   27  ...
        2022-01-04                   68                   96  ...
        2022-01-05                   63                   93  ...

                    2022-01-01 21:30:00  2022-01-01 21:45:00  \
meterID date
1       2022-01-01                    7                   20
        2022-01-02                   37                   97
        2022-01-03                   14                   24
        2022-01-04                   68                   70
        2022-01-05                   69                  100

                    2022-01-01 22:00:00  2022-01-01 22:15:00  \
meterID date
1       2022-01-01                   43                    7
        2022-01-02                    5                    1
        2022-01-03                   81                   65
        2022-01-04                   63                   82
        2022-01-05                   95                   87

                    2022-01-01 22:30:00  2022-01-01 22:45:00  \
meterID date
1       2022-01-01                   84                   61
        2022-01-02                   53                    2
        2022-01-03                    7                   36
        2022-01-04                  100                   32
        2022-01-05                   56                   36

                    2022-01-01 23:00:00  2022-01-01 23:15:00  \
meterID date
1       2022-01-01                   21                   82
        2022-01-02                   71                   41
        2022-01-03                   82                   21
        2022-01-04                   14                   10
        2022-01-05                   61                   95

                    2022-01-01 23:30:00  2022-01-01 23:45:00
meterID date
1       2022-01-01                   59                   39
        2022-01-02                    9                   77
        2022-01-03                   63                   76
        2022-01-04                   46                    4
        2022-01-05                   55                   15

[5 rows x 96 columns]

In [87]:
data = pd.read_csv(csv_file_path, sep=';')

In [88]:
data.head()

,EAN_ID,Datum,Datum_Startuur,Volume_Afname_kWh,Volume_Injectie_kWh,Warmtepomp_Indicator,Elektrisch_Voertuig_Indicator,PV-Installatie_Indicator,Contract_Categorie
0,1,2022-01-01,2022-01-01T00:00:00.000Z,0.760,0.0,0,1,0,Residentieel
1,1,2022-01-01,2022-01-01T00:15:00.000Z,0.789,0.0,0,1,0,Residentieel
2,1,2022-01-01,2022-01-01T00:30:00.000Z,1.131,0.0,0,1,0,Residentieel
3,1,2022-01-01,2022-01-01T00:45:00.000Z,0.791,0.0,0,1,0,Residentieel
4,1,2022-01-01,2022-01-01T01:00:00.000Z,0.791,0.0,0,1,0,Residentieel

In [8]:
# Load the CSV file

# Calculate the sum of the VolumeAfname_TH_kWh and VolumeInjectie_TH_kWh columns
sum_values = data['Volume_Afname_kWh'] - data['Volume_Injectie_kWh']

# Convert the sum_values to a list
sum_values_list = sum_values.tolist()

In [10]:
for i, (index, row) in enumerate(df.iterrows()):
    for j, value in enumerate(row):
        # Do something with the value, for example, print it
        df.iloc[i, j] = sum_values_list[i*96+j]
    if i % 1000 == 0:
        print(f'Processed {i}/{len(sum_values_list)/96} rows')

Processed 0/474500.0 rows
Processed 1000/474500.0 rows
Processed 2000/474500.0 rows
Processed 3000/474500.0 rows
Processed 4000/474500.0 rows
Processed 5000/474500.0 rows
Processed 6000/474500.0 rows
Processed 7000/474500.0 rows
Processed 8000/474500.0 rows
Processed 9000/474500.0 rows
Processed 10000/474500.0 rows
Processed 11000/474500.0 rows
Processed 12000/474500.0 rows
Processed 13000/474500.0 rows
Processed 14000/474500.0 rows
Processed 15000/474500.0 rows
Processed 16000/474500.0 rows
Processed 17000/474500.0 rows
Processed 18000/474500.0 rows
Processed 19000/474500.0 rows
Processed 20000/474500.0 rows
Processed 21000/474500.0 rows
Processed 22000/474500.0 rows
Processed 23000/474500.0 rows
Processed 24000/474500.0 rows
Processed 25000/474500.0 rows
Processed 26000/474500.0 rows
Processed 27000/474500.0 rows
Processed 28000/474500.0 rows
Processed 29000/474500.0 rows
Processed 30000/474500.0 rows
Processed 31000/474500.0 rows
Processed 32000/474500.0 rows
Processed 33000/474500.0 rows
Processed 34000/474500.0 rows
Processed 35000/474500.0 rows
Processed 36000/474500.0 rows
Processed 37000/474500.0 rows
Processed 38000/474500.0 rows
Processed 39000/474500.0 rows
Processed 40000/474500.0 rows
Processed 41000/474500.0 rows
Processed 42000/474500.0 rows
Processed 43000/474500.0 rows
Processed 44000/474500.0 rows
Processed 45000/474500.0 rows
Processed 46000/474500.0 rows
Processed 47000/474500.0 rows
Processed 48000/474500.0 rows
Processed 49000/474500.0 rows
Processed 50000/474500.0 rows
Processed 51000/474500.0 rows
Processed 52000/474500.0 rows
Processed 53000/474500.0 rows
Processed 54000/474500.0 rows
Processed 55000/474500.0 rows
Processed 56000/474500.0 rows
Processed 57000/474500.0 rows
Processed 58000/474500.0 rows
Processed 59000/474500.0 rows
Processed 60000/474500.0 rows
Processed 61000/474500.0 rows
Processed 62000/474500.0 rows
Processed 63000/474500.0 rows
Processed 64000/474500.0 rows
Processed 65000/474500.0 rows
Processed 66000/474500.0 rows
Processed 67000/474500.0 rows
Processed 68000/474500.0 rows
Processed 69000/474500.0 rows
Processed 70000/474500.0 rows
Processed 71000/474500.0 rows
Processed 72000/474500.0 rows
Processed 73000/474500.0 rows
Processed 74000/474500.0 rows
Processed 75000/474500.0 rows
Processed 76000/474500.0 rows
Processed 77000/474500.0 rows
Processed 78000/474500.0 rows
Processed 79000/474500.0 rows
Processed 80000/474500.0 rows
Processed 81000/474500.0 rows
Processed 82000/474500.0 rows
Processed 83000/474500.0 rows
Processed 84000/474500.0 rows
Processed 85000/474500.0 rows
Processed 86000/474500.0 rows
Processed 87000/474500.0 rows
Processed 88000/474500.0 rows
Processed 89000/474500.0 rows
Processed 90000/474500.0 rows
Processed 91000/474500.0 rows
Processed 92000/474500.0 rows
Processed 93000/474500.0 rows
Processed 94000/474500.0 rows
Processed 95000/474500.0 rows
Processed 96000/474500.0 rows
Processed 97000/474500.0 rows
Processed 98000/474500.0 rows
Processed 99000/474500.0 rows
Processed 100000/474500.0 rows
Processed 101000/474500.0 rows
Processed 102000/474500.0 rows
Processed 103000/474500.0 rows
Processed 104000/474500.0 rows
Processed 105000/474500.0 rows
Processed 106000/474500.0 rows
Processed 107000/474500.0 rows
Processed 108000/474500.0 rows
Processed 109000/474500.0 rows
Processed 110000/474500.0 rows
Processed 111000/474500.0 rows
Processed 112000/474500.0 rows
Processed 113000/474500.0 rows
Processed 114000/474500.0 rows
Processed 115000/474500.0 rows
Processed 116000/474500.0 rows
Processed 117000/474500.0 rows
Processed 118000/474500.0 rows
Processed 119000/474500.0 rows
Processed 120000/474500.0 rows
Processed 121000/474500.0 rows
Processed 122000/474500.0 rows
Processed 123000/474500.0 rows
Processed 124000/474500.0 rows
Processed 125000/474500.0 rows
Processed 126000/474500.0 rows
Processed 127000/474500.0 rows
Processed 128000/474500.0 rows
Processed 129000/474500.0 rows
Processed 130000/474500.0 rows
Processed 131000/474500.0 rows
Processed 132000/474500.0 rows
Processed 133000/474500.0 rows
Processed 134000/474500.0 rows
Processed 135000/474500.0 rows
Processed 136000/474500.0 rows
Processed 137000/474500.0 rows
Processed 138000/474500.0 rows
Processed 139000/474500.0 rows
Processed 140000/474500.0 rows
Processed 141000/474500.0 rows
Processed 142000/474500.0 rows
Processed 143000/474500.0 rows
Processed 144000/474500.0 rows
Processed 145000/474500.0 rows
Processed 146000/474500.0 rows
Processed 147000/474500.0 rows
Processed 148000/474500.0 rows
Processed 149000/474500.0 rows
Processed 150000/474500.0 rows
Processed 151000/474500.0 rows
Processed 152000/474500.0 rows
Processed 153000/474500.0 rows
Processed 154000/474500.0 rows
Processed 155000/474500.0 rows
Processed 156000/474500.0 rows
Processed 157000/474500.0 rows
Processed 158000/474500.0 rows
Processed 159000/474500.0 rows
Processed 160000/474500.0 rows
Processed 161000/474500.0 rows
Processed 162000/474500.0 rows
Processed 163000/474500.0 rows
Processed 164000/474500.0 rows
Processed 165000/474500.0 rows
Processed 166000/474500.0 rows
Processed 167000/474500.0 rows
Processed 168000/474500.0 rows
Processed 169000/474500.0 rows
Processed 170000/474500.0 rows
Processed 171000/474500.0 rows
Processed 172000/474500.0 rows
Processed 173000/474500.0 rows
Processed 174000/474500.0 rows
Processed 175000/474500.0 rows
Processed 176000/474500.0 rows
Processed 177000/474500.0 rows
Processed 178000/474500.0 rows
Processed 179000/474500.0 rows
Processed 180000/474500.0 rows
Processed 181000/474500.0 rows
Processed 182000/474500.0 rows
Processed 183000/474500.0 rows
Processed 184000/474500.0 rows
Processed 185000/474500.0 rows
Processed 186000/474500.0 rows
Processed 187000/474500.0 rows
Processed 188000/474500.0 rows
Processed 189000/474500.0 rows
Processed 190000/474500.0 rows
Processed 191000/474500.0 rows
Processed 192000/474500.0 rows
Processed 193000/474500.0 rows
Processed 194000/474500.0 rows
Processed 195000/474500.0 rows
Processed 196000/474500.0 rows
Processed 197000/474500.0 rows
Processed 198000/474500.0 rows
Processed 199000/474500.0 rows
Processed 200000/474500.0 rows
Processed 201000/474500.0 rows
Processed 202000/474500.0 rows
Processed 203000/474500.0 rows
Processed 204000/474500.0 rows
Processed 205000/474500.0 rows
Processed 206000/474500.0 rows
Processed 207000/474500.0 rows
Processed 208000/474500.0 rows
Processed 209000/474500.0 rows
Processed 210000/474500.0 rows
Processed 211000/474500.0 rows
Processed 212000/474500.0 rows
Processed 213000/474500.0 rows
Processed 214000/474500.0 rows
Processed 215000/474500.0 rows
Processed 216000/474500.0 rows
Processed 217000/474500.0 rows
Processed 218000/474500.0 rows
Processed 219000/474500.0 rows
Processed 220000/474500.0 rows
Processed 221000/474500.0 rows
Processed 222000/474500.0 rows
Processed 223000/474500.0 rows
Processed 224000/474500.0 rows
Processed 225000/474500.0 rows
Processed 226000/474500.0 rows
Processed 227000/474500.0 rows
Processed 228000/474500.0 rows
Processed 229000/474500.0 rows
Processed 230000/474500.0 rows
Processed 231000/474500.0 rows
Processed 232000/474500.0 rows
Processed 233000/474500.0 rows
Processed 234000/474500.0 rows
Processed 235000/474500.0 rows
Processed 236000/474500.0 rows
Processed 237000/474500.0 rows
Processed 238000/474500.0 rows
Processed 239000/474500.0 rows
Processed 240000/474500.0 rows
Processed 241000/474500.0 rows
Processed 242000/474500.0 rows
Processed 243000/474500.0 rows
Processed 244000/474500.0 rows
Processed 245000/474500.0 rows
Processed 246000/474500.0 rows
Processed 247000/474500.0 rows
Processed 248000/474500.0 rows
Processed 249000/474500.0 rows
Processed 250000/474500.0 rows
Processed 251000/474500.0 rows
Processed 252000/474500.0 rows
Processed 253000/474500.0 rows
Processed 254000/474500.0 rows
Processed 255000/474500.0 rows
Processed 256000/474500.0 rows
Processed 257000/474500.0 rows
Processed 258000/474500.0 rows
Processed 259000/474500.0 rows
Processed 260000/474500.0 rows
Processed 261000/474500.0 rows
Processed 262000/474500.0 rows
Processed 263000/474500.0 rows
Processed 264000/474500.0 rows
Processed 265000/474500.0 rows
Processed 266000/474500.0 rows
Processed 267000/474500.0 rows
Processed 268000/474500.0 rows
Processed 269000/474500.0 rows
Processed 270000/474500.0 rows
Processed 271000/474500.0 rows
Processed 272000/474500.0 rows
Processed 273000/474500.0 rows
Processed 274000/474500.0 rows
Processed 275000/474500.0 rows
Processed 276000/474500.0 rows
Processed 277000/474500.0 rows
Processed 278000/474500.0 rows
Processed 279000/474500.0 rows
Processed 280000/474500.0 rows
Processed 281000/474500.0 rows
Processed 282000/474500.0 rows
Processed 283000/474500.0 rows
Processed 284000/474500.0 rows
Processed 285000/474500.0 rows
Processed 286000/474500.0 rows
Processed 287000/474500.0 rows
Processed 288000/474500.0 rows
Processed 289000/474500.0 rows
Processed 290000/474500.0 rows
Processed 291000/474500.0 rows
Processed 292000/474500.0 rows
Processed 293000/474500.0 rows
Processed 294000/474500.0 rows
Processed 295000/474500.0 rows
Processed 296000/474500.0 rows
Processed 297000/474500.0 rows
Processed 298000/474500.0 rows
Processed 299000/474500.0 rows
Processed 300000/474500.0 rows
Processed 301000/474500.0 rows
Processed 302000/474500.0 rows
Processed 303000/474500.0 rows
Processed 304000/474500.0 rows
Processed 305000/474500.0 rows
Processed 306000/474500.0 rows
Processed 307000/474500.0 rows
Processed 308000/474500.0 rows
Processed 309000/474500.0 rows
Processed 310000/474500.0 rows
Processed 311000/474500.0 rows
Processed 312000/474500.0 rows
Processed 313000/474500.0 rows
Processed 314000/474500.0 rows
Processed 315000/474500.0 rows
Processed 316000/474500.0 rows
Processed 317000/474500.0 rows
Processed 318000/474500.0 rows
Processed 319000/474500.0 rows
Processed 320000/474500.0 rows
Processed 321000/474500.0 rows
Processed 322000/474500.0 rows
Processed 323000/474500.0 rows
Processed 324000/474500.0 rows
Processed 325000/474500.0 rows
Processed 326000/474500.0 rows
Processed 327000/474500.0 rows
Processed 328000/474500.0 rows
Processed 329000/474500.0 rows
Processed 330000/474500.0 rows
Processed 331000/474500.0 rows
Processed 332000/474500.0 rows
Processed 333000/474500.0 rows
Processed 334000/474500.0 rows
Processed 335000/474500.0 rows
Processed 336000/474500.0 rows
Processed 337000/474500.0 rows
Processed 338000/474500.0 rows
Processed 339000/474500.0 rows
Processed 340000/474500.0 rows
Processed 341000/474500.0 rows
Processed 342000/474500.0 rows
Processed 343000/474500.0 rows
Processed 344000/474500.0 rows
Processed 345000/474500.0 rows
Processed 346000/474500.0 rows
Processed 347000/474500.0 rows
Processed 348000/474500.0 rows
Processed 349000/474500.0 rows
Processed 350000/474500.0 rows
Processed 351000/474500.0 rows
Processed 352000/474500.0 rows
Processed 353000/474500.0 rows
Processed 354000/474500.0 rows
Processed 355000/474500.0 rows
Processed 356000/474500.0 rows
Processed 357000/474500.0 rows
Processed 358000/474500.0 rows
Processed 359000/474500.0 rows
Processed 360000/474500.0 rows
Processed 361000/474500.0 rows
Processed 362000/474500.0 rows
Processed 363000/474500.0 rows
Processed 364000/474500.0 rows
Processed 365000/474500.0 rows
Processed 366000/474500.0 rows
Processed 367000/474500.0 rows
Processed 368000/474500.0 rows
Processed 369000/474500.0 rows
Processed 370000/474500.0 rows
Processed 371000/474500.0 rows
Processed 372000/474500.0 rows
Processed 373000/474500.0 rows
Processed 374000/474500.0 rows
Processed 375000/474500.0 rows
Processed 376000/474500.0 rows
Processed 377000/474500.0 rows
Processed 378000/474500.0 rows
Processed 379000/474500.0 rows
Processed 380000/474500.0 rows
Processed 381000/474500.0 rows
Processed 382000/474500.0 rows
Processed 383000/474500.0 rows
Processed 384000/474500.0 rows
Processed 385000/474500.0 rows
Processed 386000/474500.0 rows
Processed 387000/474500.0 rows
Processed 388000/474500.0 rows
Processed 389000/474500.0 rows
Processed 390000/474500.0 rows
Processed 391000/474500.0 rows
Processed 392000/474500.0 rows
Processed 393000/474500.0 rows
Processed 394000/474500.0 rows
Processed 395000/474500.0 rows
Processed 396000/474500.0 rows
Processed 397000/474500.0 rows
Processed 398000/474500.0 rows
Processed 399000/474500.0 rows
Processed 400000/474500.0 rows
Processed 401000/474500.0 rows
Processed 402000/474500.0 rows
Processed 403000/474500.0 rows
Processed 404000/474500.0 rows
Processed 405000/474500.0 rows
Processed 406000/474500.0 rows
Processed 407000/474500.0 rows
Processed 408000/474500.0 rows
Processed 409000/474500.0 rows
Processed 410000/474500.0 rows
Processed 411000/474500.0 rows
Processed 412000/474500.0 rows
Processed 413000/474500.0 rows
Processed 414000/474500.0 rows
Processed 415000/474500.0 rows
Processed 416000/474500.0 rows
Processed 417000/474500.0 rows
Processed 418000/474500.0 rows
Processed 419000/474500.0 rows
Processed 420000/474500.0 rows
Processed 421000/474500.0 rows
Processed 422000/474500.0 rows
Processed 423000/474500.0 rows
Processed 424000/474500.0 rows
Processed 425000/474500.0 rows
Processed 426000/474500.0 rows
Processed 427000/474500.0 rows
Processed 428000/474500.0 rows
Processed 429000/474500.0 rows
Processed 430000/474500.0 rows
Processed 431000/474500.0 rows
Processed 432000/474500.0 rows
Processed 433000/474500.0 rows
Processed 434000/474500.0 rows
Processed 435000/474500.0 rows
Processed 436000/474500.0 rows
Processed 437000/474500.0 rows
Processed 438000/474500.0 rows
Processed 439000/474500.0 rows
Processed 440000/474500.0 rows
Processed 441000/474500.0 rows
Processed 442000/474500.0 rows
Processed 443000/474500.0 rows
Processed 444000/474500.0 rows
Processed 445000/474500.0 rows
Processed 446000/474500.0 rows
Processed 447000/474500.0 rows
Processed 448000/474500.0 rows
Processed 449000/474500.0 rows
Processed 450000/474500.0 rows
Processed 451000/474500.0 rows
Processed 452000/474500.0 rows
Processed 453000/474500.0 rows
Processed 454000/474500.0 rows
Processed 455000/474500.0 rows
Processed 456000/474500.0 rows
Processed 457000/474500.0 rows
Processed 458000/474500.0 rows
Processed 459000/474500.0 rows
Processed 460000/474500.0 rows
Processed 461000/474500.0 rows
Processed 462000/474500.0 rows
Processed 463000/474500.0 rows
Processed 464000/474500.0 rows
Processed 465000/474500.0 rows
Processed 466000/474500.0 rows
Processed 467000/474500.0 rows
Processed 468000/474500.0 rows
Processed 469000/474500.0 rows
Processed 470000/474500.0 rows
Processed 471000/474500.0 rows
Processed 472000/474500.0 rows
Processed 473000/474500.0 rows
Processed 474000/474500.0 rows

In [11]:
df.to_pickle("Data/Flanders_dataset_big/preprocess/flanderstimeseries.pkl")

In [19]:
df = pd.read_pickle("Data/Flanders_dataset_big/preprocess/flanderstimeseries.pkl")

In [20]:
df.head()

                    2022-01-01 00:00:00  2022-01-01 00:15:00  \
meterID date
1       2022-01-01                0.760                0.789
        2022-01-02                0.111                0.183
        2022-01-03                0.793                0.761
        2022-01-04                0.753                0.209
        2022-01-05                0.127                0.102

                    2022-01-01 00:30:00  2022-01-01 00:45:00  \
meterID date
1       2022-01-01                1.131                0.791
        2022-01-02                0.304                0.117
        2022-01-03                0.768                0.779
        2022-01-04                0.138                0.288
        2022-01-05                0.333                0.119

                    2022-01-01 01:00:00  2022-01-01 01:15:00  \
meterID date
1       2022-01-01                0.791                0.773
        2022-01-02                0.123                0.106
        2022-01-03                0.095                0.114
        2022-01-04                0.107                0.101
        2022-01-05                0.108                0.129

                    2022-01-01 01:30:00  2022-01-01 01:45:00  \
meterID date
1       2022-01-01                0.710                0.135
        2022-01-02                0.087                0.157
        2022-01-03                0.299                0.101
        2022-01-04                0.103                0.338
        2022-01-05                0.155                0.247

                    2022-01-01 02:00:00  2022-01-01 02:15:00  ...  \
meterID date                                                  ...
1       2022-01-01                0.114                0.293  ...
        2022-01-02                0.252                0.101  ...
        2022-01-03                0.122                0.098  ...
        2022-01-04                0.105                0.115  ...
        2022-01-05                0.116                0.108  ...

                    2022-01-01 21:30:00  2022-01-01 21:45:00  \
meterID date
1       2022-01-01                0.238                0.303
        2022-01-02                0.160                0.135
        2022-01-03                0.200                0.185
        2022-01-04                0.191                0.164
        2022-01-05                0.227                0.164

                    2022-01-01 22:00:00  2022-01-01 22:15:00  \
meterID date
1       2022-01-01                0.271                0.269
        2022-01-02                0.146                0.194
        2022-01-03                0.178                0.217
        2022-01-04                0.186                0.179
        2022-01-05                0.191                0.194

                    2022-01-01 22:30:00  2022-01-01 22:45:00  \
meterID date
1       2022-01-01                0.885                0.789
        2022-01-02                0.774                0.769
        2022-01-03                0.802                0.828
        2022-01-04                0.796                0.841
        2022-01-05                0.775                0.809

                    2022-01-01 23:00:00  2022-01-01 23:15:00  \
meterID date
1       2022-01-01                0.763                0.775
        2022-01-02                0.804                0.779
        2022-01-03                0.779                0.803
        2022-01-04                0.795                0.769
        2022-01-05                0.819                0.762

                    2022-01-01 23:30:00  2022-01-01 23:45:00
meterID date
1       2022-01-01                0.691                0.089
        2022-01-02                0.765                0.781
        2022-01-03                0.757                0.756
        2022-01-04                0.754                0.709
        2022-01-05                0.782                0.753

[5 rows x 96 columns]

In [21]:
df.index.get_level_values(1)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', name='date', length=474500, freq=None)

# Fix daily attributes

In [101]:
from day_info import get_daily_info_df_for_dates_and_city

In [102]:
start = pd.Timestamp('2022-01-01')
end = pd.Timestamp('2022-12-31')
dates_2022 = pd.date_range(start, end)

In [103]:
daily = get_daily_info_df_for_dates_and_city(dates_2022,"Brussels", "Belgium")

In [104]:
daily.drop(columns=['maxTempC'], inplace=True)
daily.drop(columns=['minTempC'], inplace=True)
daily.drop(columns=['avgTempC'], inplace=True)
daily.drop(columns=['sunHour'], inplace=True)
daily.drop(columns=['uvIndex'], inplace=True)
daily.drop(columns=['feelsLikeC'], inplace=True)
daily.drop(columns=['windspeedKmph'], inplace=True)
daily.drop(columns=['humidity'], inplace=True)

In [105]:
from datetime import datetime 
from meteostat import Point, Daily, units  
# Set time period   
# Create Point for DC 
location = Point(50.8465573, 4.351697)  
# Get daily data 
weather_data = Daily(location, start, end) 
weather_data = weather_data.fetch()
weather_data.drop(columns=['snow'], inplace=True)
weather_data.drop(columns=['tsun'], inplace=True)
weather_data.head()

            tavg  tmin  tmax  prcp   wdir  wspd  wpgt    pres
time
2022-01-01  12.1  10.0  14.3   0.0  189.0  14.2  29.6  1023.1
2022-01-02  11.8   9.2  13.3  12.7  217.0  20.5  57.4  1014.9
2022-01-03   9.2   7.6  10.2  12.4  223.0  19.2  55.5  1011.8
2022-01-04   6.4   2.6   7.7   9.1  233.0  11.1  27.8   999.8
2022-01-05   3.3   0.8   5.4   0.8  257.0  12.9  44.5  1009.7

In [106]:
daily_merged = daily.merge(weather_data, left_index=True, right_index=True, how="left")

In [107]:
import pandas as pd

# Assuming your existing DataFrame is named 'existing_df'
# And you want to repeat it 100 times

# Repeat the existing DataFrame 100 times
repeated_df = pd.concat([daily_merged] * 1300, ignore_index=True)

# Create meterid index repeating from 1 to 100
meterid = sum([[i]*len(daily) for i in range(1, 1301)], [])

# Set meterid as the index of the repeated DataFrame
repeated_df.index = pd.Index(meterid, name='meterID')

repeated_df.head()

,dayOfMonth,month,year,dayOfWeek,isWeekend,dayOfYear,season,isHoliday,tavg,tmin,tmax,prcp,wdir,wspd,wpgt,pres
meterID,,,,,,,,,,,,,,,,
1,1.0,1.0,2022.0,5.0,1.0,1.0,4.0,1.0,12.1,10.0,14.3,0.0,189.0,14.2,29.6,1023.1
1,2.0,1.0,2022.0,6.0,1.0,2.0,4.0,0.0,11.8,9.2,13.3,12.7,217.0,20.5,57.4,1014.9
1,3.0,1.0,2022.0,0.0,0.0,3.0,4.0,0.0,9.2,7.6,10.2,12.4,223.0,19.2,55.5,1011.8
1,4.0,1.0,2022.0,1.0,0.0,4.0,4.0,0.0,6.4,2.6,7.7,9.1,233.0,11.1,27.8,999.8
1,5.0,1.0,2022.0,2.0,0.0,5.0,4.0,0.0,3.3,0.8,5.4,0.8,257.0,12.9,44.5,1009.7

In [99]:
userattributes = data.groupby('EAN_ID').max()[['Warmtepomp_Indicator', 'Elektrisch_Voertuig_Indicator', 'PV-Installatie_Indicator']]

# Reset index to make EAN_ID a column again
userattributes.reset_index(inplace=True)
userattributes.head()

,EAN_ID,Warmtepomp_Indicator,Elektrisch_Voertuig_Indicator,PV-Installatie_Indicator
0,1,0,1,0
1,2,0,0,0
2,3,0,0,0
3,4,0,0,0
4,5,0,1,1

In [111]:
warmtepomp_values = []

# Loop over each value in the 'Warmtepomp_Indicator' column
for value in userattributes['Warmtepomp_Indicator']:
    # Append the value to the list 365 times
    warmtepomp_values.extend([value] * 365)
    
Elektrisch_Voertuig_Indicator_values = []

# Loop over each value in the 'Warmtepomp_Indicator' column
for value in userattributes['Elektrisch_Voertuig_Indicator']:
    # Append the value to the list 365 times
    Elektrisch_Voertuig_Indicator_values.extend([value] * 365)
    
PV_Installatie_Indicator_values = []

# Loop over each value in the 'Warmtepomp_Indicator' column
for value in userattributes['PV-Installatie_Indicator']:
    # Append the value to the list 365 times
    PV_Installatie_Indicator_values.extend([value] * 365)

In [114]:
repeated_df['Warmtepomp_Indicator'] = warmtepomp_values
repeated_df['Elektrisch_Voertuig_Indicator'] = Elektrisch_Voertuig_Indicator_values
repeated_df['PV-Installatie_Indicator'] = PV_Installatie_Indicator_values

In [115]:
repeated_df

,dayOfMonth,month,year,dayOfWeek,isWeekend,dayOfYear,season,isHoliday,tavg,tmin,tmax,prcp,wdir,wspd,wpgt,pres,Warmtepomp_Indicator,Elektrisch_Voertuig_Indicator,PV-Installatie_Indicator
meterID,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,2022.0,5.0,1.0,1.0,4.0,1.0,12.1,10.0,14.3,0.0,189.0,14.2,29.6,1023.1,0,1,0
1,2.0,1.0,2022.0,6.0,1.0,2.0,4.0,0.0,11.8,9.2,13.3,12.7,217.0,20.5,57.4,1014.9,0,1,0
1,3.0,1.0,2022.0,0.0,0.0,3.0,4.0,0.0,9.2,7.6,10.2,12.4,223.0,19.2,55.5,1011.8,0,1,0
1,4.0,1.0,2022.0,1.0,0.0,4.0,4.0,0.0,6.4,2.6,7.7,9.1,233.0,11.1,27.8,999.8,0,1,0
1,5.0,1.0,2022.0,2.0,0.0,5.0,4.0,0.0,3.3,0.8,5.4,0.8,257.0,12.9,44.5,1009.7,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,27.0,12.0,2022.0,1.0,0.0,361.0,4.0,0.0,5.7,3.5,8.0,0.0,205.0,17.3,40.8,1024.6,0,1,1
1300,28.0,12.0,2022.0,2.0,0.0,362.0,4.0,0.0,8.9,6.5,11.0,5.2,198.0,27.5,57.4,1011.2,0,1,1
1300,29.0,12.0,2022.0,3.0,0.0,363.0,4.0,0.0,9.4,7.1,11.6,1.3,216.0,28.2,64.8,1005.3,0,1,1
1300,30.0,12.0,2022.0,4.0,0.0,364.0,4.0,0.0,8.7,5.0,13.9,6.0,191.0,24.5,59.3,1005.8,0,1,1
1300,31.0,12.0,2022.0,5.0,1.0,365.0,4.0,0.0,15.5,12.6,16.3,1.3,206.0,34.3,72.2,1006.9,0,1,1

In [117]:

# Group by 'EAN_ID' and sum the 'VolumeAfname_TH_kWh' and 'VolumeInjectie_TH_kWh' columns
	
grouped_df = data.groupby('EAN_ID').agg({'Volume_Afname_kWh': 'sum', 'Volume_Injectie_kWh': 'sum'})

# Calculate the yearly consumption
grouped_df['yearly_consumption'] = grouped_df['Volume_Afname_kWh'] - grouped_df['Volume_Injectie_kWh']
grouped_df['injected'] = grouped_df['Volume_Injectie_kWh']
grouped_df['consumed'] = grouped_df['Volume_Afname_kWh']

# Drop unnecessary columns
grouped_df.drop(['Volume_Afname_kWh', 'Volume_Injectie_kWh'], axis=1, inplace=True)
grouped_df = grouped_df.rename_axis('meterID')

grouped_df.head()

         yearly_consumption     injected      consumed
meterID
1              17881.694000     0.000000  17881.694000
2               4804.258000     0.000000   4804.258000
3               4119.349000     0.000000   4119.349000
4               2102.183242     0.000000   2102.183242
5               3018.199483  4091.986974   7110.186457

In [118]:
    merged_attributes = repeated_df.merge(grouped_df,on=['meterID'], how="left")

In [119]:
merged_attributes.head()

,dayOfMonth,month,year,dayOfWeek,isWeekend,dayOfYear,season,isHoliday,tavg,tmin,...,wdir,wspd,wpgt,pres,Warmtepomp_Indicator,Elektrisch_Voertuig_Indicator,PV-Installatie_Indicator,yearly_consumption,injected,consumed
meterID,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,2022.0,5.0,1.0,1.0,4.0,1.0,12.1,10.0,...,189.0,14.2,29.6,1023.1,0,1,0,17881.694,0.0,17881.694
1,2.0,1.0,2022.0,6.0,1.0,2.0,4.0,0.0,11.8,9.2,...,217.0,20.5,57.4,1014.9,0,1,0,17881.694,0.0,17881.694
1,3.0,1.0,2022.0,0.0,0.0,3.0,4.0,0.0,9.2,7.6,...,223.0,19.2,55.5,1011.8,0,1,0,17881.694,0.0,17881.694
1,4.0,1.0,2022.0,1.0,0.0,4.0,4.0,0.0,6.4,2.6,...,233.0,11.1,27.8,999.8,0,1,0,17881.694,0.0,17881.694
1,5.0,1.0,2022.0,2.0,0.0,5.0,4.0,0.0,3.3,0.8,...,257.0,12.9,44.5,1009.7,0,1,0,17881.694,0.0,17881.694

In [ ]:
merged_attributes.to_pickle("/Data/Flanders_dataset_big/preprocess/flandersdaily.pkl")