In [51]:
%%time
from pathlib import Path
import pandas as pd
import numpy as np

CPU times: user 11 µs, sys: 10 µs, total: 21 µs
Wall time: 52.9 µs

In [52]:
import pandas as pd
import numpy as np

# Load CSV file
csv_file_path = 'Data/Flanders_dataset/P6269 - 1.50 Aanlevering DMK - E - Kwartierwaarden.csv'  # Provide the path to your CSV file
data_from_csv = pd.read_csv(csv_file_path, header=None)

# Calculate the sum of the 3rd and 4th values for each row
values_to_fill = float(data_from_csv.iloc[:, 2]) + float(data_from_csv.iloc[:, 3])

# Create date range for the year 2021
start_date = pd.Timestamp('2021-01-01')
end_date = pd.Timestamp('2021-12-31')
date_range = pd.date_range(start_date, end_date, freq='D')

# Generate multi-index with meterid and date
meter_ids = np.arange(1, 101)
index = pd.MultiIndex.from_product([meter_ids, date_range], names=['meterID', 'date'])

# Create 96 columns for each 15-minute interval of the day
columns = pd.date_range('2021-01-01', periods=96, freq='15min')

# Create DataFrame with random values
data = np.random.randint(1, 101, size=(len(index), len(columns)))
df = pd.DataFrame(data, index=index, columns=columns)

# Iterate over the DataFrame and fill it with values from the CSV
for i, (index, row) in enumerate(df.iterrows()):
    df.loc[index] = values_to_fill[i % len(values_to_fill)]

df.head()

/var/folders/_3/h0p_y99n15v6k84rsz9x28h40000gn/T/ipykernel_46493/2918453259.py:6: DtypeWarning: Columns (0,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  data_from_csv = pd.read_csv(csv_file_path, header=None)

                    2021-01-01 00:00:00  2021-01-01 00:15:00  \
meterID date
1       2021-01-01                   56                   71
        2021-01-02                   38                   40
        2021-01-03                   18                   31
        2021-01-04                   51                   73
        2021-01-05                   73                   58

                    2021-01-01 00:30:00  2021-01-01 00:45:00  \
meterID date
1       2021-01-01                   35                   95
        2021-01-02                   62                   86
        2021-01-03                   88                   66
        2021-01-04                   84                   73
        2021-01-05                   10                   33

                    2021-01-01 01:00:00  2021-01-01 01:15:00  \
meterID date
1       2021-01-01                   22                   87
        2021-01-02                   92                   81
        2021-01-03                   61                   37
        2021-01-04                    2                   27
        2021-01-05                   29                   79

                    2021-01-01 01:30:00  2021-01-01 01:45:00  \
meterID date
1       2021-01-01                   34                   49
        2021-01-02                   69                   65
        2021-01-03                   19                   28
        2021-01-04                   59                   14
        2021-01-05                   87                   59

                    2021-01-01 02:00:00  2021-01-01 02:15:00  ...  \
meterID date                                                  ...
1       2021-01-01                   72                   46  ...
        2021-01-02                   79                   26  ...
        2021-01-03                    1                    5  ...
        2021-01-04                   48                   82  ...
        2021-01-05                   32                   70  ...

                    2021-01-01 21:30:00  2021-01-01 21:45:00  \
meterID date
1       2021-01-01                   19                   42
        2021-01-02                   14                    9
        2021-01-03                   50                  100
        2021-01-04                   86                   63
        2021-01-05                   31                   66

                    2021-01-01 22:00:00  2021-01-01 22:15:00  \
meterID date
1       2021-01-01                   22                   62
        2021-01-02                   32                   38
        2021-01-03                   99                   47
        2021-01-04                   94                   51
        2021-01-05                   12                   36

                    2021-01-01 22:30:00  2021-01-01 22:45:00  \
meterID date
1       2021-01-01                   85                   54
        2021-01-02                   89                   15
        2021-01-03                   22                   95
        2021-01-04                   98                   54
        2021-01-05                   76                   48

                    2021-01-01 23:00:00  2021-01-01 23:15:00  \
meterID date
1       2021-01-01                   10                    7
        2021-01-02                   13                   16
        2021-01-03                   78                   11
        2021-01-04                   59                   95
        2021-01-05                    7                   24

                    2021-01-01 23:30:00  2021-01-01 23:45:00
meterID date
1       2021-01-01                   60                   95
        2021-01-02                    3                   58
        2021-01-03                   17                    3
        2021-01-04                    8                   23
        2021-01-05                   74                   61

[5 rows x 96 columns]

In [53]:
# Load the CSV file
csv_file_path = 'Data/Flanders_dataset/P6269 - 1.50 Aanlevering DMK - E - Kwartierwaarden.csv'  # Provide the path to your CSV file
data = pd.read_csv(csv_file_path)

# Calculate the sum of the VolumeAfname_TH_kWh and VolumeInjectie_TH_kWh columns
sum_values = data['VolumeAfname_TH_kWh'] - data['VolumeInjectie_TH_kWh']

# Convert the sum_values to a list
sum_values_list = sum_values.tolist()

In [54]:
for i, (index, row) in enumerate(df.iterrows()):
    for j, value in enumerate(row):
        # Do something with the value, for example, print it
        df.iloc[i, j] = sum_values_list[i*96+j]
    if i % 1000 == 0:
        print(f'Processed {i}/36500 rows')

Processed 0/36500 rows
Processed 1000/36500 rows
Processed 2000/36500 rows
Processed 3000/36500 rows
Processed 4000/36500 rows
Processed 5000/36500 rows
Processed 6000/36500 rows
Processed 7000/36500 rows
Processed 8000/36500 rows
Processed 9000/36500 rows
Processed 10000/36500 rows
Processed 11000/36500 rows
Processed 12000/36500 rows
Processed 13000/36500 rows
Processed 14000/36500 rows
Processed 15000/36500 rows
Processed 16000/36500 rows
Processed 17000/36500 rows
Processed 18000/36500 rows
Processed 19000/36500 rows
Processed 20000/36500 rows
Processed 21000/36500 rows
Processed 22000/36500 rows
Processed 23000/36500 rows
Processed 24000/36500 rows
Processed 25000/36500 rows
Processed 26000/36500 rows
Processed 27000/36500 rows
Processed 28000/36500 rows
Processed 29000/36500 rows
Processed 30000/36500 rows
Processed 31000/36500 rows
Processed 32000/36500 rows
Processed 33000/36500 rows
Processed 34000/36500 rows
Processed 35000/36500 rows
Processed 36000/36500 rows

In [56]:
df.to_pickle("Data/Flanders_dataset/preprocces/flanderstimeseries.pkl")

In [10]:
df = pd.read_pickle("Data/Flanders_dataset/preprocces/flanderstimeseries.pkl")

In [58]:
df.index.get_level_values(1)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', name='date', length=36500, freq=None)

In [1]:
from day_info import get_daily_info_df_for_dates_and_city

In [4]:
start_date = pd.Timestamp('2021-01-01')
end_date = pd.Timestamp('2021-12-31')
dates_2021 = pd.date_range(start_date, end_date)

In [5]:
daily = get_daily_info_df_for_dates_and_city(dates_2021,"Brussels", "Belgium")

Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-01-01 to 2021-01-31
Time elapsed (hh:mm:ss.ms) 0:00:00.663599


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-02-01 to 2021-02-28
Time elapsed (hh:mm:ss.ms) 0:00:00.505352


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-03-01 to 2021-03-31
Time elapsed (hh:mm:ss.ms) 0:00:00.537074


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-04-01 to 2021-04-30
Time elapsed (hh:mm:ss.ms) 0:00:00.555829


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-05-01 to 2021-05-31
Time elapsed (hh:mm:ss.ms) 0:00:00.893384


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-06-01 to 2021-06-30
Time elapsed (hh:mm:ss.ms) 0:00:00.623480


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-07-01 to 2021-07-31
Time elapsed (hh:mm:ss.ms) 0:00:00.553629


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-08-01 to 2021-08-31
Time elapsed (hh:mm:ss.ms) 0:00:00.682939


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-09-01 to 2021-09-30
Time elapsed (hh:mm:ss.ms) 0:00:00.688561


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-10-01 to 2021-10-31
Time elapsed (hh:mm:ss.ms) 0:00:00.574633


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-11-01 to 2021-11-30
Time elapsed (hh:mm:ss.ms) 0:00:00.503193


Retrieving weather data for Brussels


Currently retrieving data for Brussels: from 2021-12-01 to 2021-12-31
Time elapsed (hh:mm:ss.ms) 0:00:00.593692

In [44]:
daily.to_pickle("Data/Flanders_dataset/preprocces/flandersdaily.pkl")

In [19]:
import pandas as pd

# Assuming your existing DataFrame is named 'existing_df'
# And you want to repeat it 100 times

# Repeat the existing DataFrame 100 times
repeated_df = pd.concat([daily] * 100, ignore_index=True)

# Create meterid index repeating from 1 to 100
meterid = sum([[i]*len(daily) for i in range(1, 101)], [])

# Set meterid as the index of the repeated DataFrame
repeated_df.index = pd.Index(meterid, name='meterID')

repeated_df.head()

,maxTempC,minTempC,avgTempC,sunHour,uvIndex,feelsLikeC,windspeedKmph,humidity,dayOfMonth,month,year,dayOfWeek,isWeekend,dayOfYear,season,isHoliday
meterID,,,,,,,,,,,,,,,,
1,5.0,1.0,5.0,4.0,1.0,1.0,7.0,90.0,1,1,2021,4,0.0,1,3.0,1.0
1,4.0,0.0,4.0,5.0,1.0,-1.0,8.0,87.0,2,1,2021,5,1.0,2,3.0,0.0
1,3.0,1.0,3.0,1.0,1.0,-1.0,12.0,85.0,3,1,2021,6,1.0,3,3.0,0.0
1,3.0,0.0,3.0,1.0,1.0,-3.0,21.0,94.0,4,1,2021,0,0.0,4,3.0,0.0
1,2.0,1.0,2.0,1.0,1.0,-3.0,18.0,91.0,5,1,2021,1,0.0,5,3.0,0.0

In [31]:
import pandas as pd

# Load the CSV file
csv_file_path = 'Data/Flanders_dataset/P6269 - 1.50 Aanlevering DMK - E - Kwartierwaarden.csv'  # Provide the path to your CSV file
df = pd.read_csv(csv_file_path)

# Group by 'EAN_ID' and sum the 'VolumeAfname_TH_kWh' and 'VolumeInjectie_TH_kWh' columns
grouped_df = df.groupby('EAN_ID').agg({'VolumeAfname_TH_kWh': 'sum', 'VolumeInjectie_TH_kWh': 'sum'})

# Calculate the yearly consumption
grouped_df['yearly_consumption'] = grouped_df['VolumeAfname_TH_kWh'] - grouped_df['VolumeInjectie_TH_kWh']
grouped_df['hasSolar'] = grouped_df['VolumeInjectie_TH_kWh'] == 0
grouped_df['injected'] = grouped_df['VolumeInjectie_TH_kWh']
grouped_df['consumed'] = grouped_df['VolumeAfname_TH_kWh']

# Drop unnecessary columns
grouped_df.drop(['VolumeAfname_TH_kWh', 'VolumeInjectie_TH_kWh'], axis=1, inplace=True)
grouped_df = grouped_df.rename_axis('meterID')

grouped_df.head()

         yearly_consumption  hasSolar     injected      consumed
meterID
1               1555.435996     False  2364.090251   3919.526247
2               2253.571749      True     0.000000   2253.571749
3               2878.536153      True     0.000000   2878.536153
4              19513.728057      True     0.000000  19513.728057
5               4997.052000      True     0.000000   4997.052000

In [33]:
merged_attributes = repeated_df.merge(grouped_df,on=['meterID'], how="left")

In [34]:
merged_attributes.head()

,maxTempC,minTempC,avgTempC,sunHour,uvIndex,feelsLikeC,windspeedKmph,humidity,dayOfMonth,month,year,dayOfWeek,isWeekend,dayOfYear,season,isHoliday,yearly_consumption,hasSolar,injected,consumed
meterID,,,,,,,,,,,,,,,,,,,,
1,5.0,1.0,5.0,4.0,1.0,1.0,7.0,90.0,1,1,2021,4,0.0,1,3.0,1.0,1555.435996,False,2364.090251,3919.526247
1,4.0,0.0,4.0,5.0,1.0,-1.0,8.0,87.0,2,1,2021,5,1.0,2,3.0,0.0,1555.435996,False,2364.090251,3919.526247
1,3.0,1.0,3.0,1.0,1.0,-1.0,12.0,85.0,3,1,2021,6,1.0,3,3.0,0.0,1555.435996,False,2364.090251,3919.526247
1,3.0,0.0,3.0,1.0,1.0,-3.0,21.0,94.0,4,1,2021,0,0.0,4,3.0,0.0,1555.435996,False,2364.090251,3919.526247
1,2.0,1.0,2.0,1.0,1.0,-3.0,18.0,91.0,5,1,2021,1,0.0,5,3.0,0.0,1555.435996,False,2364.090251,3919.526247

In [35]:
merged_attributes.to_pickle("Data/Flanders_dataset/preprocces/flandersattributues.pkl")