In [1]:
import pandas as pd
import altair as alt
import numpy as np
from pathlib import Path
import re

In [2]:
root_path = Path('Data/London_dataset/csv/data_collection/data_tables')
result_path = Path('Data/London_dataset/DataResult')
preprocessed_path = Path('Data/London_dataset/preprocessed')
result_path.mkdir(exist_ok = True)
preprocessed_path.mkdir(exist_ok = True)

## Data_df

In [3]:
new_index = pd.date_range('2012-01-01 00:00', '2012-12-31 23:30', freq = '30min')
data_df = (
    # read all data files and concat
    pd.concat((pd.read_csv(path, index_col = 0) for path in root_path.glob('consumption*')), axis = 1)
    
    # make index datetime 
    .pipe(lambda x: x.set_axis(pd.to_datetime(x.index), axis = 0))

)

raw_data_df = (
    # start from the data df
    data_df
    
    # transpose 
    .T 
    
    # name axis 
    .sort_index()
    .rename_axis('meterID', axis = 0)
    .rename_axis('timestamp', axis = 1)
    
    # drop the incomplete days at the start and end
    .loc[:, '2013-01-01':'2013-12-31 23:30']
)

raw_data_df.to_csv("Data/London_dataset/csv/data_collection/data_tables/2013.csv", index=True)
print("done")
#display(raw_data_df.head())
#raw_data_df.to_pickle(result_path/'raw_data_df.pkl')
# multiindex_counts = raw_data_df.index.get_level_values('meterID').value_counts()
# count = 0
# for meterID in multiindex_counts.index:
#     if multiindex_counts[meterID] < 365 and multiindex_counts[meterID] > 350:
#         count += 1
#         print(meterID, multiindex_counts[meterID])
# print(f"count {count}")

done

In [4]:
raw_data_df.head()

timestamp,2013-01-01 00:00:00,2013-01-01 00:30:00,2013-01-01 01:00:00,2013-01-01 01:30:00,2013-01-01 02:00:00,2013-01-01 02:30:00,2013-01-01 03:00:00,2013-01-01 03:30:00,2013-01-01 04:00:00,2013-01-01 04:30:00,...,2013-12-31 19:00:00,2013-12-31 19:30:00,2013-12-31 20:00:00,2013-12-31 20:30:00,2013-12-31 21:00:00,2013-12-31 21:30:00,2013-12-31 22:00:00,2013-12-31 22:30:00,2013-12-31 23:00:00,2013-12-31 23:30:00
meterID,,,,,,,,,,,,,,,,,,,,,
D0000,1.043,0.404,0.185,0.151,0.139,0.105,0.122,0.091,0.110,0.100,...,0.247,0.323,0.346,0.238,0.335,0.144,0.234,0.182,0.153,0.166
D0001,0.181,0.248,0.206,0.171,0.068,0.083,0.083,0.072,0.060,0.061,...,0.265,0.165,0.179,0.163,0.145,0.227,0.256,0.117,0.078,0.025
D0002,0.224,0.227,0.231,0.236,0.239,0.251,0.246,0.334,0.287,0.292,...,0.156,0.173,0.164,0.154,0.163,0.176,0.145,0.177,0.158,0.162
D0003,0.077,0.078,0.076,0.077,0.077,0.077,0.077,0.076,0.079,0.077,...,0.092,0.093,0.094,0.093,0.093,0.093,0.094,0.090,0.055,0.049
D0004,0.195,0.202,0.188,0.039,0.024,0.102,0.033,0.024,0.033,0.028,...,0.006,0.020,0.016,0.022,0.011,0.026,0.006,0.006,0.025,0.012

In [5]:
nan_count_per_row = raw_data_df.isna().sum(axis=1)
count_missing = 0
count_ok = 0
for index, value in nan_count_per_row.items():
    if value > 10:
        print(f"index {index} has {value} nan values")
        count_missing += 1
    else:
        count_ok += 1

index D0001 has 50 nan values
index D0002 has 13 nan values
index D0025 has 49 nan values
index D0029 has 14 nan values
index D0038 has 53 nan values
index D0041 has 10463 nan values
index D0045 has 145 nan values
index D0048 has 24 nan values
index D0053 has 241 nan values
index D0064 has 53 nan values
index D0066 has 337 nan values
index D0076 has 49 nan values
index D0080 has 19 nan values
index D0087 has 13 nan values
index D0093 has 4463 nan values
index D0094 has 15 nan values
index D0096 has 34 nan values
index D0099 has 51 nan values
index D0102 has 14 nan values
index D0110 has 145 nan values
index D0118 has 13 nan values
index D0125 has 4468 nan values
index D0129 has 53 nan values
index D0134 has 1301 nan values
index D0143 has 289 nan values
index D0164 has 49 nan values
index D0167 has 338 nan values
index D0169 has 144 nan values
index D0188 has 14 nan values
index D0194 has 14 nan values
index D0195 has 21 nan values
index D0208 has 194 nan values
index D0212 has 1013 nan values
index D0215 has 51 nan values
index D0223 has 48 nan values
index D0241 has 6337 nan values
index D0244 has 101 nan values
index D0265 has 21 nan values
index D0294 has 12 nan values
index D0310 has 11 nan values
index D0311 has 12 nan values
index D0312 has 202 nan values
index D0314 has 50 nan values
index D0317 has 48 nan values
index D0332 has 5665 nan values
index D0344 has 50 nan values
index D0364 has 31 nan values
index D0368 has 23 nan values
index D0381 has 4463 nan values
index D0383 has 61 nan values
index D0395 has 99 nan values
index D0397 has 50 nan values
index D0406 has 146 nan values
index D0408 has 16 nan values
index D0412 has 49 nan values
index D0417 has 4465 nan values
index D0425 has 15 nan values
index D0429 has 25 nan values
index D0475 has 23 nan values
index D0477 has 7967 nan values
index D0481 has 193 nan values
index D0487 has 22 nan values
index D0499 has 29 nan values
index D0508 has 137 nan values
index D0509 has 16 nan values
index D0515 has 50 nan values
index D0534 has 17 nan values
index D0536 has 18 nan values
index D0537 has 12 nan values
index D0541 has 53 nan values
index D0545 has 865 nan values
index D0548 has 16 nan values
index D0576 has 19 nan values
index D0578 has 17 nan values
index D0586 has 2405 nan values
index D0590 has 19 nan values
index D0595 has 12 nan values
index D0608 has 145 nan values
index D0610 has 22 nan values
index D0620 has 49 nan values
index D0625 has 49 nan values
index D0639 has 98 nan values
index D0640 has 528 nan values
index D0643 has 1344 nan values
index D0662 has 122 nan values
index D0668 has 6172 nan values
index D0671 has 97 nan values
index D0680 has 13 nan values
index D0682 has 28 nan values
index D0686 has 24 nan values
index D0689 has 240 nan values
index D0692 has 12 nan values
index D0711 has 18 nan values
index D0716 has 103 nan values
index D0723 has 12479 nan values
index D0724 has 48 nan values
index D0731 has 58 nan values
index D0734 has 3659 nan values
index D0755 has 24 nan values
index D0759 has 26 nan values
index D0803 has 18 nan values
index D0808 has 15 nan values
index D0816 has 11 nan values
index D0819 has 48 nan values
index D0853 has 30 nan values
index D0860 has 11 nan values
index D0862 has 4466 nan values
index D0864 has 17 nan values
index D0865 has 41 nan values
index D0866 has 97 nan values
index D0869 has 56 nan values
index D0873 has 11664 nan values
index D0874 has 13 nan values
index D0875 has 12 nan values
index D0916 has 98 nan values
index D0918 has 18 nan values
index D0924 has 20 nan values
index D0941 has 15 nan values
index D0957 has 28 nan values
index D0966 has 38 nan values
index D0967 has 4463 nan values
index D0984 has 11 nan values
index D1012 has 15 nan values
index D1013 has 33 nan values
index N0005 has 62 nan values
index N0006 has 50 nan values
index N0019 has 14207 nan values
index N0029 has 15 nan values
index N0032 has 518 nan values
index N0033 has 13 nan values
index N0036 has 8738 nan values
index N0037 has 11232 nan values
index N0048 has 50 nan values
index N0050 has 48 nan values
index N0051 has 55 nan values
index N0056 has 3696 nan values
index N0068 has 2257 nan values
index N0072 has 55 nan values
index N0074 has 17135 nan values
index N0075 has 14400 nan values
index N0078 has 2113 nan values
index N0080 has 4464 nan values
index N0083 has 6623 nan values
index N0094 has 11 nan values
index N0096 has 18 nan values
index N0104 has 19 nan values
index N0110 has 3408 nan values
index N0130 has 8687 nan values
index N0137 has 14793 nan values
index N0141 has 13440 nan values
index N0144 has 12 nan values
index N0146 has 21 nan values
index N0154 has 11 nan values
index N0199 has 48 nan values
index N0204 has 18 nan values
index N0205 has 26 nan values
index N0207 has 1872 nan values
index N0210 has 14 nan values
index N0213 has 20 nan values
index N0218 has 56 nan values
index N0223 has 9407 nan values
index N0225 has 144 nan values
index N0226 has 15 nan values
index N0227 has 2448 nan values
index N0231 has 2030 nan values
index N0238 has 2019 nan values
index N0241 has 1873 nan values
index N0252 has 11 nan values
index N0260 has 3792 nan values
index N0265 has 51 nan values
index N0275 has 14159 nan values
index N0277 has 52 nan values
index N0279 has 5039 nan values
index N0282 has 17135 nan values
index N0283 has 344 nan values
index N0286 has 2255 nan values
index N0287 has 10847 nan values
index N0310 has 20 nan values
index N0311 has 50 nan values
index N0312 has 2115 nan values
index N0318 has 2016 nan values
index N0321 has 16 nan values
index N0322 has 5234 nan values
index N0326 has 14784 nan values
index N0332 has 98 nan values
index N0352 has 5238 nan values
index N0355 has 97 nan values
index N0356 has 529 nan values
index N0358 has 21 nan values
index N0362 has 13 nan values
index N0366 has 14 nan values
index N0372 has 98 nan values
index N0374 has 12431 nan values
index N0378 has 33 nan values
index N0381 has 96 nan values
index N0389 has 26 nan values
index N0392 has 12 nan values
index N0400 has 9360 nan values
index N0403 has 26 nan values
index N0425 has 13272 nan values
index N0426 has 8688 nan values
index N0429 has 12 nan values
index N0433 has 14207 nan values
index N0434 has 49 nan values
index N0438 has 122 nan values
index N0444 has 98 nan values
index N0445 has 5860 nan values
index N0451 has 1871 nan values
index N0456 has 161 nan values
index N0460 has 14 nan values
index N0465 has 8735 nan values
index N0471 has 88 nan values
index N0474 has 15503 nan values
index N0476 has 21 nan values
index N0479 has 14783 nan values
index N0495 has 15 nan values
index N0496 has 17520 nan values
index N0497 has 20 nan values
index N0501 has 768 nan values
index N0506 has 30 nan values
index N0509 has 55 nan values
index N0519 has 294 nan values
index N0520 has 58 nan values
index N0522 has 482 nan values
index N0527 has 50 nan values
index N0528 has 20 nan values
index N0543 has 964 nan values
index N0545 has 13 nan values
index N0548 has 15 nan values
index N0549 has 18 nan values
index N0560 has 14 nan values
index N0564 has 26 nan values
index N0567 has 1872 nan values
index N0568 has 1679 nan values
index N0577 has 12479 nan values
index N0580 has 13 nan values
index N0581 has 41 nan values
index N0590 has 4656 nan values
index N0598 has 13248 nan values
index N0600 has 94 nan values
index N0606 has 5390 nan values
index N0607 has 96 nan values
index N0609 has 12 nan values
index N0614 has 29 nan values
index N0626 has 8063 nan values
index N0635 has 12 nan values
index N0643 has 11 nan values
index N0647 has 12 nan values
index N0648 has 24 nan values
index N0649 has 50 nan values
index N0651 has 15215 nan values
index N0652 has 12 nan values
index N0656 has 12671 nan values
index N0669 has 17 nan values
index N0670 has 98 nan values
index N0676 has 7487 nan values
index N0683 has 626 nan values
index N0686 has 144 nan values
index N0687 has 11 nan values
index N0696 has 18 nan values
index N0697 has 5039 nan values
index N0702 has 7775 nan values
index N0704 has 17520 nan values
index N0712 has 19 nan values
index N0715 has 49 nan values
index N0721 has 144 nan values
index N0724 has 14 nan values
index N0729 has 14786 nan values
index N0731 has 53 nan values
index N0734 has 48 nan values
index N0735 has 48 nan values
index N0736 has 99 nan values
index N0745 has 14 nan values
index N0746 has 13 nan values
index N0749 has 18 nan values
index N0752 has 15 nan values
index N0753 has 13 nan values
index N0757 has 4273 nan values
index N0759 has 12815 nan values
index N0763 has 14783 nan values
index N0766 has 12431 nan values
index N0774 has 14399 nan values
index N0776 has 52 nan values
index N0778 has 50 nan values
index N0788 has 48 nan values
index N0796 has 25 nan values
index N0800 has 339 nan values
index N0803 has 54 nan values
index N0806 has 11 nan values
index N0813 has 156 nan values
index N0817 has 1585 nan values
index N0818 has 17520 nan values
index N0836 has 11101 nan values
index N0841 has 14783 nan values
index N0842 has 5282 nan values
index N0849 has 29 nan values
index N0851 has 15503 nan values
index N0855 has 49 nan values
index N0863 has 96 nan values
index N0868 has 50 nan values
index N0887 has 2063 nan values
index N0888 has 13679 nan values
index N0889 has 15071 nan values
index N0893 has 60 nan values
index N0900 has 289 nan values
index N0903 has 13057 nan values
index N0907 has 97 nan values
index N0908 has 17 nan values
index N0925 has 145 nan values
index N0926 has 48 nan values
index N0949 has 50 nan values
index N0952 has 12047 nan values
index N0954 has 13 nan values
index N0959 has 818 nan values
index N0964 has 15071 nan values
index N0970 has 21 nan values
index N0975 has 23 nan values
index N0984 has 22 nan values
index N0988 has 16175 nan values
index N0989 has 16 nan values
index N0990 has 39 nan values
index N0997 has 15215 nan values
index N1004 has 15 nan values
index N1013 has 13055 nan values
index N1019 has 15 nan values
index N1021 has 14783 nan values
index N1023 has 6623 nan values
index N1029 has 146 nan values
index N1050 has 36 nan values
index N1064 has 11 nan values
index N1072 has 8687 nan values
index N1074 has 18 nan values
index N1077 has 581 nan values
index N1079 has 13679 nan values
index N1088 has 10031 nan values
index N1090 has 100 nan values
index N1093 has 14111 nan values
index N1095 has 52 nan values
index N1096 has 5090 nan values
index N1102 has 58 nan values
index N1105 has 16223 nan values
index N1119 has 16127 nan values
index N1130 has 1104 nan values
index N1131 has 19 nan values
index N1138 has 50 nan values
index N1142 has 15 nan values
index N1143 has 20 nan values
index N1152 has 2448 nan values
index N1153 has 18 nan values
index N1157 has 14735 nan values
index N1169 has 6575 nan values
index N1170 has 9648 nan values
index N1172 has 11 nan values
index N1184 has 25 nan values
index N1190 has 287 nan values
index N1191 has 147 nan values
index N1193 has 11089 nan values
index N1196 has 14783 nan values
index N1203 has 55 nan values
index N1204 has 1296 nan values
index N1208 has 3700 nan values
index N1222 has 34 nan values
index N1227 has 49 nan values
index N1238 has 11471 nan values
index N1247 has 13 nan values
index N1256 has 8495 nan values
index N1257 has 12 nan values
index N1262 has 49 nan values
index N1294 has 16 nan values
index N1297 has 6623 nan values
index N1302 has 49 nan values
index N1310 has 6625 nan values
index N1312 has 11330 nan values
index N1314 has 13 nan values
index N1317 has 37 nan values
index N1319 has 2448 nan values
index N1328 has 18 nan values
index N1338 has 12 nan values
index N1343 has 15215 nan values
index N1344 has 48 nan values
index N1348 has 15071 nan values
index N1352 has 7247 nan values
index N1353 has 16466 nan values
index N1357 has 1883 nan values
index N1358 has 18 nan values
index N1360 has 13 nan values
index N1362 has 1872 nan values
index N1364 has 13 nan values
index N1373 has 9023 nan values
index N1379 has 2089 nan values
index N1389 has 13 nan values
index N1399 has 5234 nan values
index N1402 has 5232 nan values
index N1408 has 13 nan values
index N1414 has 21 nan values
index N1417 has 14399 nan values
index N1426 has 48 nan values
index N1433 has 143 nan values
index N1435 has 49 nan values
index N1439 has 15455 nan values
index N1441 has 149 nan values
index N1446 has 16127 nan values
index N1449 has 3661 nan values
index N1451 has 11 nan values
index N1453 has 17 nan values
index N1456 has 6626 nan values
index N1459 has 49 nan values
index N1461 has 51 nan values
index N1466 has 1874 nan values
index N1468 has 52 nan values
index N1477 has 575 nan values
index N1485 has 52 nan values
index N1487 has 16415 nan values
index N1488 has 52 nan values
index N1490 has 481 nan values
index N1491 has 64 nan values
index N1502 has 72 nan values
index N1504 has 16463 nan values
index N1506 has 2065 nan values
index N1507 has 144 nan values
index N1514 has 11 nan values
index N1516 has 7775 nan values
index N1525 has 14785 nan values
index N1527 has 98 nan values
index N1529 has 13 nan values
index N1534 has 49 nan values
index N1539 has 14 nan values
index N1542 has 12 nan values
index N1543 has 16848 nan values
index N1548 has 385 nan values
index N1550 has 11 nan values
index N1554 has 146 nan values
index N1565 has 20 nan values
index N1576 has 31 nan values
index N1579 has 144 nan values
index N1588 has 97 nan values
index N1591 has 3696 nan values
index N1592 has 1967 nan values
index N1596 has 193 nan values
index N1603 has 15 nan values
index N1611 has 51 nan values
index N1612 has 12 nan values
index N1620 has 9792 nan values
index N1624 has 194 nan values
index N1625 has 395 nan values
index N1638 has 21 nan values
index N1640 has 30 nan values
index N1641 has 102 nan values
index N1645 has 7585 nan values
index N1654 has 51 nan values
index N1661 has 5042 nan values
index N1665 has 15215 nan values
index N1667 has 26 nan values
index N1668 has 14399 nan values
index N1671 has 37 nan values
index N1672 has 48 nan values
index N1683 has 11 nan values
index N1689 has 15 nan values
index N1690 has 15 nan values
index N1698 has 17 nan values
index N1702 has 10035 nan values
index N1704 has 17520 nan values
index N1709 has 17520 nan values
index N1715 has 7343 nan values
index N1724 has 6628 nan values
index N1725 has 1296 nan values
index N1741 has 16 nan values
index N1743 has 35 nan values
index N1746 has 1104 nan values
index N1747 has 288 nan values
index N1750 has 16850 nan values
index N1751 has 96 nan values
index N1756 has 12 nan values
index N1763 has 15503 nan values
index N1777 has 8735 nan values
index N1778 has 9792 nan values
index N1785 has 13968 nan values
index N1787 has 23 nan values
index N1788 has 6576 nan values
index N1795 has 14 nan values
index N1797 has 22 nan values
index N1806 has 50 nan values
index N1814 has 16 nan values
index N1818 has 866 nan values
index N1826 has 166 nan values
index N1828 has 13 nan values
index N1837 has 50 nan values
index N1843 has 11039 nan values
index N1844 has 6097 nan values
index N1846 has 16127 nan values
index N1851 has 914 nan values
index N1858 has 1105 nan values
index N1862 has 97 nan values
index N1868 has 1057 nan values
index N1880 has 3417 nan values
index N1884 has 96 nan values
index N1893 has 12 nan values
index N1900 has 7152 nan values
index N1901 has 3793 nan values
index N1906 has 50 nan values
index N1909 has 1153 nan values
index N1913 has 50 nan values
index N1915 has 15 nan values
index N1916 has 11738 nan values
index N1919 has 101 nan values
index N1920 has 117 nan values
index N1924 has 49 nan values
index N1927 has 51 nan values
index N1935 has 50 nan values
index N1936 has 7487 nan values
index N1938 has 50 nan values
index N1945 has 800 nan values
index N1951 has 147 nan values
index N1962 has 31 nan values
index N1965 has 14783 nan values
index N1968 has 18 nan values
index N1969 has 433 nan values
index N1973 has 49 nan values
index N1976 has 147 nan values
index N1981 has 15 nan values
index N1989 has 13 nan values
index N1991 has 3696 nan values
index N1993 has 8065 nan values
index N2000 has 99 nan values
index N2002 has 11 nan values
index N2006 has 26 nan values
index N2017 has 14 nan values
index N2028 has 17 nan values
index N2030 has 14784 nan values
index N2031 has 11711 nan values
index N2038 has 14399 nan values
index N2039 has 14786 nan values
index N2041 has 1729 nan values
index N2046 has 52 nan values
index N2055 has 2111 nan values
index N2058 has 11040 nan values
index N2065 has 49 nan values
index N2076 has 1008 nan values
index N2082 has 6815 nan values
index N2084 has 50 nan values
index N2087 has 10031 nan values
index N2092 has 59 nan values
index N2097 has 22 nan values
index N2102 has 56 nan values
index N2107 has 13 nan values
index N2110 has 1297 nan values
index N2113 has 49 nan values
index N2114 has 384 nan values
index N2115 has 12 nan values
index N2116 has 48 nan values
index N2120 has 11663 nan values
index N2122 has 1295 nan values
index N2124 has 385 nan values
index N2131 has 15 nan values
index N2132 has 1103 nan values
index N2133 has 105 nan values
index N2134 has 14399 nan values
index N2140 has 1104 nan values
index N2142 has 14783 nan values
index N2147 has 24 nan values
index N2148 has 336 nan values
index N2153 has 3025 nan values
index N2154 has 77 nan values
index N2161 has 1152 nan values
index N2169 has 146 nan values
index N2175 has 16031 nan values
index N2181 has 49 nan values
index N2183 has 13007 nan values
index N2184 has 242 nan values
index N2185 has 6337 nan values
index N2186 has 11 nan values
index N2192 has 12 nan values
index N2197 has 2113 nan values
index N2198 has 46 nan values
index N2203 has 20 nan values
index N2207 has 11 nan values
index N2208 has 433 nan values
index N2209 has 3263 nan values
index N2214 has 13 nan values
index N2226 has 11 nan values
index N2232 has 11 nan values
index N2235 has 18 nan values
index N2249 has 12 nan values
index N2259 has 10752 nan values
index N2264 has 14783 nan values
index N2272 has 30 nan values
index N2274 has 203 nan values
index N2276 has 6577 nan values
index N2280 has 6337 nan values
index N2286 has 4128 nan values
index N2304 has 3025 nan values
index N2317 has 8687 nan values
index N2320 has 12050 nan values
index N2324 has 23 nan values
index N2334 has 434 nan values
index N2342 has 11 nan values
index N2350 has 48 nan values
index N2356 has 14 nan values
index N2359 has 22 nan values
index N2364 has 21 nan values
index N2369 has 25 nan values
index N2379 has 12 nan values
index N2381 has 3023 nan values
index N2382 has 13055 nan values
index N2385 has 27 nan values
index N2388 has 96 nan values
index N2391 has 12 nan values
index N2402 has 1012 nan values
index N2419 has 234 nan values
index N2421 has 15 nan values
index N2426 has 35 nan values
index N2430 has 3763 nan values
index N2433 has 14 nan values
index N2435 has 145 nan values
index N2437 has 50 nan values
index N2441 has 15 nan values
index N2445 has 1729 nan values
index N2449 has 8689 nan values
index N2452 has 54 nan values
index N2458 has 9791 nan values
index N2459 has 99 nan values
index N2464 has 152 nan values
index N2466 has 1871 nan values
index N2472 has 1297 nan values
index N2474 has 14786 nan values
index N2480 has 100 nan values
index N2487 has 48 nan values
index N2493 has 11 nan values
index N2494 has 5039 nan values
index N2497 has 6624 nan values
index N2501 has 17087 nan values
index N2506 has 8688 nan values
index N2507 has 384 nan values
index N2512 has 21 nan values
index N2517 has 13967 nan values
index N2521 has 15215 nan values
index N2534 has 96 nan values
index N2543 has 99 nan values
index N2547 has 10127 nan values
index N2551 has 15 nan values
index N2561 has 1872 nan values
index N2576 has 11 nan values
index N2577 has 40 nan values
index N2588 has 11 nan values
index N2596 has 17520 nan values

In [8]:
filtered_raw_data_df = raw_data_df[nan_count_per_row <= 10].copy()
filtered_raw_data_df.shape

(4276, 17520)

In [9]:
filtered_raw_data_df.interpolate(inplace=True)

In [10]:
filtered_raw_data_df.to_csv("Data/London_dataset/csv/data_collection/data_tables/2013_filtered_no_nan.csv", index=True)

In [46]:
filtered_raw_data_df.to_pickle(result_path/'2013_filtered_no_nan.pkl')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


# Plot a histogram
plt.hist(filtered_raw_data_df, bins=range(5,filtered_raw_data_df.shape[1] + 1), edgecolor='black')
plt.xlabel('Number of Missing Values in a Row')
plt.ylabel('Number of Rows')
plt.title('Distribution of Missing Values in Rows')
plt.show()

In [ ]:
count_values = nan_count_per_row.value_counts()

# Plot a bar chart
count_values.plot(kind='bar', edgecolor='black')
plt.xlabel('Number of Missing Values in a Row')
plt.ylabel('Number of Rows')
plt.title('Distribution of Missing Values in Rows')
plt.show()

In [ ]:
count = 0
for meterID in multiindex_counts.index:
    if multiindex_counts[meterID] < 365 and multiindex_counts[meterID] > 350:
        count += 1
        print(meterID, multiindex_counts[meterID])
print(f"count {count}")

# Read info df and give columns names

In [11]:
questions = pd.read_csv(root_path/'survey_questions.csv', index_col = 0).drop(columns = 'Survey')
questions.head()

                                                      Question
Question_id
Q01            Q1 - Our household DOES NOT HAVE this appliance
Q02          Q1 - For this appliance, our household managed...
Q03          Q1 - For this appliance, our household managed...
Q04          Q1 - For this appliance, our household managed...
Q05          Q1 - For this appliance, our household managed...

In [13]:
info_df = (
    # read the survey answers
    pd.read_csv(root_path/'survey_answers.csv', low_memory = False, index_col = 0)
    
    # select appliance questionaire
    .loc[:, 'Q211':]
    
    # give the columns a better name based on the question dataframe
    .stack()
    .to_frame('answer')
    .rename_axis(index = ['meterID', 'Question_id'])
    .join(questions.shift(-1))
    .reset_index()
    .assign(
        question = lambda x: x['Question_id'].str.cat(x['Question'], sep = ': ')
    )
    .set_index(['meterID', 'question'])
    .drop(columns = ['Question_id', 'Question'])
    .unstack()
    .droplevel(0, axis = 1)
    .iloc[:, 1:]
)

info_df.head()

question,Q211: Smart Meter,Q212: Energy Decision Maker,Q213: Household Size,Q214: Household Member 1 Gender,Q215: Household Member 2 Gender,Q216: Household Member 3 Gender,Q217: Household Member 4 Gender,Q218: Household Member 5 Gender,Q219: Household Member 6 Gender,Q220: Household Member 7 Gender,...,Q334: Concern about climate change,Q335: Feel about current lifestyle and the environment,Q336: Bill since smrt meter was installed,Q337: Describe amount charged on most recent bill,Q338: Confident bill is accurate,Q339: How helpful is smart meter in understanding bill,Q340: How helpful is smart meter in understanding consumption,Q341: How helpful is smart meter in managingconsumption,Q342: Change in perception of EDF Energy,Q343: Likelihood to recommend
meterID,,,,,,,,,,,,,,,,,,,,,
D0000,Yes,Yes,2.0,Female,Male,NaN,NaN,NaN,NaN,NaN,...,Very concerned,I'd like to do a bit more to help the environment,Yes and it covered partly or fully the period ...,A little higher than I expected,don't know,Have not thought about it,Have not thought about it,Have not thought about it,Neither more nor less positive,9
D0001,Yes,Yes,1.0,Female,NaN,NaN,NaN,NaN,NaN,NaN,...,Fairly concerned,I'm happy with what I do at the moment,Yes and it covered partly or fully the period ...,About the amount I expected,Fairly confident,Fairly helpful,Fairly helpful,Fairly helpful,Neither more nor less positive,6
D0002,Yes,Yes,5.0,Male,Female,Male,Male,Female,NaN,NaN,...,Not very concerned,I'm happy with what I do at the moment,don't know,A little higher than I expected,don't know,Fairly helpful,Fairly helpful,Fairly helpful,Bit more positive,5
D0003,Yes,Yes,1.0,Male,NaN,NaN,NaN,NaN,NaN,NaN,...,Very concerned,I'd like to do a bit more to help the environment,Yes and it covered partly or fully the period ...,About the amount I expected,Fairly confident,Very helpful,Very helpful,Very helpful,Bit more positive,8
D0004,Yes,Yes,4.0,Female,Male,Male,Male,NaN,NaN,NaN,...,Very concerned,I'd like to do a bit more to help the environment,Yes but it covered the period before the smart...,About the amount I expected,Fairly confident,Very helpful,Very helpful,Fairly helpful,Bit more positive,7

# Preprocess questionair into features

In [14]:
# store all preprocessed features here 
features = pd.DataFrame(index = info_df.index)

## Features to keep and just rename

In [15]:
APPLIANCE_COLUMNS =['Q279: No. Fridges: type 1', 'Q280: No. Fridges: type 2',
       'Q281: No. Fridges: type 3', 'Q282: No. Fridges: type 4',
       'Q283: No. Freezers: type 1', 'Q284: No. Freezers: type 2',
       'Q285: No. Freezers: type 3', 'Q286: No. Freezers: type 4',
       'Q287: No. Freezers: type 5', 'Q288: No. Freezers: type 6',
       'Q289: No. Fridge-Freezers: type 1',
       'Q290: No. Fridge-Freezers: type 2',
       'Q291: No. Fridge-Freezers: type 3',
       'Q292: No. Fridge-Freezers: type 4', 'Q293: No. Electric hob',
       'Q294: No. Gas hob', 'Q295: No. Electric oven', 'Q296: No. Microwave',
       'Q297: No. Washing machine (not with dryer)', 'Q298: No. Tumble dryer',
       'Q299: No. Washer-dryer', 'Q300: No. Dishwasher',
       'Q301: No. Electric shower',
       'Q302: No. Over-sink electric water heater',
       'Q303: No. Portable electric heater', 'Q304: No. Television',
       'Q305: No. Desktop PC/computer', 'Q306: No. Laptop computer',
       'Q307: No. Printer', 'Q308: No. Router (for broadband internet)',
       'Q309: No. Dvd/blu-ray player', 'Q310: No. Cable TV box (e.g., Virgin)',
       'Q311: No. Satellite TV box (E.g., Sky)', 'Q312: No. Freeview TV box',
       'Q313: No. Games console', 'Q314: No. Standby savers']
appliance_rename = {key: key[10:] for key in APPLIANCE_COLUMNS}

TV_COLUMNS = [ 'Q315: TV Type 1', 'Q316: TV Type 2', 'Q317: TV Type 3',
       'Q318: TV Type 4', 'Q319: TV Type 5', 'Q320: TV Type 6']
tv_rename = {key: key[6:] for key in TV_COLUMNS} 

manual_rename =  {
    'Q213: Household Size': 'nb_of_inhabitants', 
    'Q234: Work from home': 'work_from_home', 
    'Q238: Rooms in home': 'nb_of_rooms',
    'Q239: Bedrooms': 'nb_of_bedrooms', 
    'Q240: Insulation: Double glazing': 'insulation_double_glazing', 
    'Q241: Insulation: Roof or loft insulation': 'insulation_roof', 
    'Q242: Insulation: Wall insulation': 'insulation_walls',
    'Q243: Insulation: Floor insulation': 'insulation_floor',
    'Q244: Insulation: Hot water tank insulation/lagging': 'insulation_warm_water_tank', 
}

appliance_rename = {**appliance_rename, **tv_rename, **manual_rename}

new_features = info_df[appliance_rename.keys()].rename(columns = appliance_rename)
print('features kept without preprocessing:')
with pd.option_context('display.max_rows', None, 'display.max_columns', 2) : 
    display(new_features.T)

features = features.join(new_features)

info_df = info_df.drop(columns = appliance_rename.keys())

features kept without preprocessing:

meterID                            D0000  ...                          N4172
question                                  ...
Fridges: type 1                      0.0  ...                            0.0
Fridges: type 2                      0.0  ...                            0.0
Fridges: type 3                      0.0  ...                            0.0
Fridges: type 4                      0.0  ...                            0.0
Freezers: type 1                     0.0  ...                            0.0
Freezers: type 2                     0.0  ...                            0.0
Freezers: type 3                     0.0  ...                            0.0
Freezers: type 4                     0.0  ...                            0.0
Freezers: type 5                     0.0  ...                            0.0
Freezers: type 6                     0.0  ...                            0.0
Fridge-Freezers: type 1              0.0  ...                            0.0
Fridge-Freezers: type 2              1.0  ...                            1.0
Fridge-Freezers: type 3              0.0  ...                            0.0
Fridge-Freezers: type 4              0.0  ...                            0.0
Electric hob                         0.0  ...                            1.0
Gas hob                              0.0  ...                            0.0
Electric oven                        0.0  ...                            1.0
Microwave                            1.0  ...                            1.0
Washing machine (not with dryer)     1.0  ...                            1.0
Tumble dryer                         0.0  ...                            1.0
Washer-dryer                         0.0  ...                            0.0
Dishwasher                           0.0  ...                            1.0
Electric shower                      0.0  ...                            1.0
Over-sink electric water heater      0.0  ...                            0.0
Portable electric heater             0.0  ...                            0.0
Television                           2.0  ...                            4.0
Desktop PC/computer                  1.0  ...                            2.0
Laptop computer                      0.0  ...                            2.0
Printer                              1.0  ...                            0.0
Router (for broadband internet)      1.0  ...                            1.0
Dvd/blu-ray player                   1.0  ...                            0.0
Cable TV box (e.g., Virgin)          0.0  ...                            0.0
Satellite TV box (E.g., Sky)         1.0  ...                            1.0
Freeview TV box                      0.0  ...                            0.0
Games console                        1.0  ...                            1.0
Standby savers                       0.0  ...                            0.0
TV Type 1                         Plasma  ...                            NaN
TV Type 2                            LCD  ...                            NaN
TV Type 3                            NaN  ...  Traditional/older style (CRT)
TV Type 4                            NaN  ...  Traditional/older style (CRT)
TV Type 5                            NaN  ...                            NaN
TV Type 6                            NaN  ...                            NaN
nb_of_inhabitants                    2.0  ...                            3.0
work_from_home                     Never  ...                          Never
nb_of_rooms                          5.0  ...                            4.0
nb_of_bedrooms                       3.0  ...                            2.0
insulation_double_glazing            Yes  ...                            Yes
insulation_roof                      NaN  ...                            Yes
insulation_walls                     NaN  ...                            Yes
insulation_floor                     NaN  ...                     Don't know
insulation_warm_water_tank           NaN  ...                            Yes

[51 rows x 2613 columns]

## Number of males and females

In [16]:
GENDER_COLUMNS = ['Q214: Household Member 1 Gender', 'Q215: Household Member 2  Gender',
       'Q216: Household Member 3 Gender', 'Q217: Household Member 4 Gender',
       'Q218: Household Member 5 Gender', 'Q219: Household Member 6 Gender',
       'Q220: Household Member 7 Gender', 'Q221: Household Member 8 Gender']


gender_info = info_df[GENDER_COLUMNS]
print('original')
display(gender_info.head())

features['nb_of_males'] = (gender_info == 'Male').sum(axis = 1)
features['nb_of_females'] = (gender_info == 'Female').sum(axis = 1)

print('derived features')
display(features[['nb_of_males', 'nb_of_females']].head())

info_df = info_df.drop(columns = GENDER_COLUMNS)

original

question,Q214: Household Member 1 Gender,Q215: Household Member 2 Gender,Q216: Household Member 3 Gender,Q217: Household Member 4 Gender,Q218: Household Member 5 Gender,Q219: Household Member 6 Gender,Q220: Household Member 7 Gender,Q221: Household Member 8 Gender
meterID,,,,,,,,
D0000,Female,Male,NaN,NaN,NaN,NaN,NaN,NaN
D0001,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D0002,Male,Female,Male,Male,Female,NaN,NaN,NaN
D0003,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D0004,Female,Male,Male,Male,NaN,NaN,NaN,NaN

derived features

         nb_of_males  nb_of_females
meterID
D0000              1              1
D0001              0              1
D0002              3              2
D0003              1              0
D0004              3              1

## Min, max and mean inhabitant age

In [17]:
AGE_COLUMNS = ['Q222: Household Member 1 Age', 'Q223: Household Member 2  Age',
       'Q224: Household Member 3 Age', 'Q225: Household Member 4 Age',
       'Q226: Household Member 5 Age', 'Q227: Household Member 6 Age',
       'Q228: Household Member 7 Age', 'Q229: Household Member 8 Age']

age = (
    info_df.loc[:, AGE_COLUMNS]
)

print('original')
display(age.head())

ages = age.stack().unique()
ages.sort()
replace_dict = {
    "Don't know": np.NAN
}
for key in ages[:-1]: 
    result = re.findall(r'\d+', key)
    replace_dict[key] = np.array(result).astype(float).mean()
replace_dict

age_features = (
    age.replace(replace_dict)
    .agg(['mean', 'min', 'max'], axis = 1)
    .set_axis(['mean_age', 'min_age', 'max_age'], axis = 1)
    # fill missing with mean of column
    .pipe(lambda df: df.fillna(df.mean(axis = 0)))
)

display('derived features')
display(age_features)

# add the the features dataframe
features = features.join(age_features)

info_df = info_df.drop(columns = AGE_COLUMNS)

original

question,Q222: Household Member 1 Age,Q223: Household Member 2 Age,Q224: Household Member 3 Age,Q225: Household Member 4 Age,Q226: Household Member 5 Age,Q227: Household Member 6 Age,Q228: Household Member 7 Age,Q229: Household Member 8 Age
meterID,,,,,,,,
D0000,35-44,12-15,NaN,NaN,NaN,NaN,NaN,NaN
D0001,65-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D0002,45-54,35-44,05-11,05-11,05-11,NaN,NaN,NaN
D0003,65-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D0004,45-54,45-54,12-15,18-24,NaN,NaN,NaN,NaN

'derived features'

          mean_age  min_age  max_age
meterID
D0000    26.500000     13.5     39.5
D0001    69.500000     69.5     69.5
D0002    22.600000      8.0     49.5
D0003    69.500000     69.5     69.5
D0004    33.375000     13.5     49.5
...            ...      ...      ...
N4166    69.500000     69.5     69.5
N4168    49.500000     49.5     49.5
N4169    75.000000     75.0     75.0
N4170    62.250000     49.5     75.0
N4172    52.833333     39.5     59.5

[2613 rows x 3 columns]

## Home ownership feature

In [18]:
home_ownership_replace_dict = {
    'Rents (with or without housing benefit) - from private landlord' : 'Rents' ,
    'Owns outright' : 'Owns' ,
    'Rents (with or without housing benefit) - from local authority/Council or Housing Association' : 'Rents' ,
    'Part owns and part rents (shared ownership)' : 'Shared ownership' ,
    'Owns with a mortgage or loan' : 'Owns' ,
    'Other' : 'Other' ,
    'Lives here rent-free' : 'Rent-free' ,
    'Other Other: LEASEHOLDER' : 'Rents' ,
    'Part owns and part rents (shared ownership) Other: HOUSING ASSOCIATION' : 'Rents' ,
    'Other Other: comes with job' : 'Rents' ,
    'Rents (with or without housing benefit) - from private landlord Other: SHELTERED ACCOMMODATION' : 'Rents' ,
    'Rents (with or without housing benefit) - from local authority/Council or Housing Association Other: SHARED OWNERSHIP' : 'Shared ownership' ,
    'Other Other: LEASE HOLDER' : 'Rents' ,
    'Other: RESIDENTIAL HOME' : 'Rents' ,
    'Other Other: COUNCIL' : 'Rents' ,
    'Other Other: RENTS FROM HM FORCES' : 'Rents' ,
    'Other Other: LEASEHOLD/OWNERSHIP' : 'Rents' ,
    'Other: LEASEHOLD' : 'Rents' ,
    'Other Other: SHELTERED HOUSING' : 'Rents' ,
    'Other Other: Rather not say' : 'Missing' ,
    'Owns outright Other: SHELTERED ACCOMMODATION' : 'Rents' ,
    'Other Other: RENT FROM LOCAL HOUSING CO-OPERATIVE' : 'Rents' ,
    'Part owns and part rents (shared ownership) Other: SHELTERED HOUSING' : 'Rents' ,
}

print('before preprocessing')
display(info_df['Q231: Newspapers - Printed'].value_counts(dropna=False).to_frame('count'))


# weird error in the column naming 
features['home_ownership'] = info_df['Q231: Newspapers - Printed'].replace(home_ownership_replace_dict)

print('after preprocessing') 
display(features['home_ownership'].value_counts(dropna = False).to_frame('count'))

info_df = info_df.drop(columns = 'Q231: Newspapers - Printed')

before preprocessing

                                                    count
Q231: Newspapers - Printed
Rents (with or without housing benefit) - from ...   1280
Owns outright                                         481
Rents (with or without housing benefit) - from ...    479
Part owns and part rents (shared ownership)           181
Owns with a mortgage or loan                           85
NaN                                                    77
Other                                                   6
Lives here rent-free                                    5
Other Other: LEASEHOLDER                                4
Part owns and part rents (shared ownership) Oth...      1
Other Other: comes with job                             1
Rents (with or without housing benefit) - from ...      1
Rents (with or without housing benefit) - from ...      1
Other Other: LEASE HOLDER                               1
Other: RESIDENTIAL HOME                                 1
Other Other: COUNCIL                                    1
Other Other: RENTS FROM HM FORCES                       1
Other Other: LEASEHOLD/OWNERSHIP                        1
Other: LEASEHOLD                                        1
Other Other: SHELTERED HOUSING                          1
Other Other: Rather not say                             1
Owns outright Other: SHELTERED ACCOMMODATION            1
Other Other: RENT FROM LOCAL HOUSING CO-OPERATIVE       1
Part owns and part rents (shared ownership) Oth...      1

after preprocessing

                  count
home_ownership
Rents              1776
Owns                566
Shared ownership    182
NaN                  77
Other                 6
Rent-free             5
Missing               1

## Building type

In [19]:
house_replacement = {
    'Terraced - middle': 'house-terraced', 
    'Terraced - end': 'house-semi-detached', 
    'Semi-detached': 'house-semi-detached', 
    'Detached': 'house-detached'
}

flat_replacement = {
    'In a purpose built block or tenement': 'flat',
	'Part of a converted house/building': 'flat',
	'In a commercial building, (for example in an office building, hotel, or over a shop)': 'flat',
}

mobile_replacement = {
    'A caravan or other mobile or temporary structure': 'mobile',
}

BUILDING_COLUMNS = ['Q235: Accomodation: House', 'Q236: Accomodation: Flat', 'Q237: Accomodation: Mobile']

print('before preprocessing')
display(info_df[BUILDING_COLUMNS])

building_type = (
    info_df[BUILDING_COLUMNS]
    .set_axis(['house', 'flat', 'mobile'], axis = 1)
    .replace(house_replacement)
    .replace(flat_replacement)
    .replace(mobile_replacement)
)
# fill in the correct values (some people filled some things twice)
building_type.loc[lambda x: ~x.flat.isna(), 'house'] = building_type.loc[lambda x: ~x.flat.isna(), 'flat']
building_type.loc[lambda x: ~x.mobile.isna(), 'house'] = building_type.loc[lambda x: ~x.mobile.isna(), 'mobile']

building_type_feature = building_type.house.to_frame('building_type')
building_type_feature

print('after preprocessing')
display(building_type_feature) 

features = features.join(building_type_feature)

info_df = info_df.drop(columns = BUILDING_COLUMNS)

before preprocessing

question,Q235: Accomodation: House,Q236: Accomodation: Flat,Q237: Accomodation: Mobile
meterID,,,
D0000,NaN,In a purpose built block or tenement,NaN
D0001,NaN,In a purpose built block or tenement,NaN
D0002,Semi-detached,NaN,NaN
D0003,NaN,In a purpose built block or tenement,NaN
D0004,Terraced - middle,NaN,NaN
...,...,...,...
N4166,NaN,In a purpose built block or tenement,NaN
N4168,Semi-detached,NaN,NaN
N4169,Terraced - middle,NaN,NaN
N4170,Terraced - middle,NaN,NaN
N4172,Terraced - middle,NaN,NaN

after preprocessing

               building_type
meterID
D0000                   flat
D0001                   flat
D0002    house-semi-detached
D0003                   flat
D0004         house-terraced
...                      ...
N4166                   flat
N4168    house-semi-detached
N4169         house-terraced
N4170         house-terraced
N4172         house-terraced

[2613 rows x 1 columns]

## Central heating type

In [20]:
raw_heating = info_df['Q246: Central heating']

print('before_preprocessing')
display(raw_heating.value_counts(dropna = False).to_frame('count'))

central_heating_features = (
    pd.DataFrame(index = info_df.index, columns = ['gas', 'electric', 'other', 'solid', 'oil'])
    .assign(
        gas = raw_heating.str.contains('Gas'), 
        electric = raw_heating.str.contains('Electric'), 
        other = raw_heating.str.contains('Other central heating'), 
        solid = raw_heating.str.contains('Solid fuel'), 
        oil = raw_heating.str.contains('Oil')
    )
    .pipe(lambda x: x.set_axis('heating_'+x.columns, axis = 1))
)
print('after preprocessing')
display(central_heating_features)

features = features.join(central_heating_features)

info_df = info_df.drop(columns = 'Q246: Central heating')

before_preprocessing

                                                    count
Q246: Central heating
Gas                                                  2113
No central heating                                    128
Electric (including storage heaters)                  114
Other central heating                                  81
Don't know                                             45
Gas;Electric (including storage heaters)               45
NaN                                                    25
Oil                                                    16
No central heating;Electric (including storage ...     13
Gas;Solid fuel (for example wood, coal)                 6
No central heating;Gas                                  5
Gas;Other central heating                               4
Gas;Electric (including storage heaters);Solid ...      2
Gas;Electric (including storage heaters);Other ...      2
Electric (including storage heaters);Other cent...      2
Gas;Oil                                                 2
Electric (including storage heaters);Oil                2
No central heating;Other central heating                2
No central heating;Electric (including storage ...      1
Electric (including storage heaters) ; Other ce...      1
Electric (including storage heaters);Solid fuel...      1
Gas;Don't know                                          1
No central heating;Gas;Electric (including stor...      1
No central heating;Solid fuel (for example wood...      1

after preprocessing

        heating_gas heating_electric heating_other heating_solid heating_oil
meterID
D0000          True            False         False         False       False
D0001          True            False         False         False       False
D0002          True            False         False         False       False
D0003         False            False          True         False       False
D0004          True            False         False         False       False
...             ...              ...           ...           ...         ...
N4166         False            False         False         False       False
N4168          True            False         False         False       False
N4169          True            False         False         False       False
N4170          True            False         False         False       False
N4172          True            False         False         False       False

[2613 rows x 5 columns]

## Heating control features

In [21]:
# if string contains key, replace with value
replacement_dict = {
    'switches on and off automatically at set times': 'heating_control_automatic_timed', 
    'manually at the boiler when needed': 'heating_control_manual_boiler',
    'automatically by a thermostatic': 'heating_control_automatic_temperature', 
    'control room temperature using thermostatic valves on the radiators': 'heating_control_manual_valves', 
    "I'm not sure": 'heating_control_unknown',
    "nan": 'heating_control_unknown'
}


raw_heating_control = info_df.loc[:, 'Q247: Central heating - control'].astype('str')

print('before preprocessing') 
display(raw_heating_control.value_counts(dropna = False).to_frame('count')) 

heating_control_features = pd.DataFrame(index = info_df.index)

for key,value in replacement_dict.items(): 
    if value not in heating_control_features.columns:
        heating_control_features[value] = raw_heating_control.str.contains(key)
    else: 
        heating_control_features[value] = heating_control_features[value] | raw_heating_control.str.contains(key)
heating_control_features

features = features.join(heating_control_features)
print('after preprocessing')
display(heating_control_features) 

info_df = info_df.drop(columns ='Q247: Central heating - control')

before preprocessing

                                                    count
Q247: Central heating - control
The heating switches on and off automatically a...    553
I switch the heating on manually at the boiler ...    389
The heating is controlled automatically by a th...    341
The heating switches on and off automatically a...    226
I control the room temperature using the thermo...    203
I control the room temperature using the thermo...    192
nan                                                   184
I control the room temperature using the thermo...    128
I switch the heating on manually at the boiler ...     77
I control the room temperature using the thermo...     54
I switch the heating on manually at the boiler ...     46
I switch the heating on manually at the boiler ...     39
I switch the heating on manually at the boiler ...     37
I'm not sure how it is controlled/used                 35
I switch the heating on manually at the boiler ...     34
I switch the heating on manually at the boiler ...     31
I switch the heating on manually at the boiler ...     27
I switch the heating on manually at the boiler ...      5
The heating switches on and off automatically a...      4
I control the room temperature using the thermo...      3
I switch the heating on manually at the boiler ...      2
I switch the heating on manually at the boiler ...      2
I switch the heating on manually at the boiler ...      1

after preprocessing

,heating_control_automatic_timed,heating_control_manual_boiler,heating_control_automatic_temperature,heating_control_manual_valves,heating_control_unknown
meterID,,,,,
D0000,False,True,False,False,False
D0001,False,False,True,False,False
D0002,False,True,False,False,False
D0003,False,True,False,False,False
D0004,True,True,True,False,False
...,...,...,...,...,...
N4166,False,False,False,False,True
N4168,False,False,True,False,False
N4169,False,True,False,False,False
N4170,False,True,True,False,False
N4172,False,False,True,False,False

## Water heating

In [22]:
# if string contains key, fill in value
replacement_dict = {
    'Hot water storage tank with gas boiler - used for both central heating and hot water': 'gas_w_storage',
    "Gas boiler (without hot water storage tank) - used for both central heating and hot water ('combi' boiler)": 'gas', 
    "Hot water storage tank with electric immersion heater": 'electric_w_storage', 
    "Hot water storage tank with gas boiler - used for hot water only": 'gas_w_storage',
    "Gas boiler (without hot water storage tank) - used for hot water only": 'gas', 
    "Other": 'other', 
    "Don't know": np.nan, 
    np.nan: np.nan, 
}

print('before preprocessing') 
display(info_df['Q248: Heating water'].value_counts(dropna = False).to_frame('value'))

heating_water_features = (
    info_df['Q248: Heating water']
    .astype('str')
    # some literal matching 
    .mask(lambda x: x.str.contains('Hot water storage tank with gas boiler - used for both central heating and hot water'), 'gas_w_storage')
    .mask(lambda x: x.str.contains("Gas boiler (without hot water storage tank) - used for both central heating and hot water", regex = False), 'gas')
    .mask(lambda x: x.str.contains("Hot water storage tank with electric immersion heater"), 'electric_w_storage')
    .mask(lambda x: x.str.contains("Hot water storage tank with gas boiler - used for hot water only", regex = False), 'gas_w_storage')
    .mask(lambda x: x.str.contains("Gas boiler (without hot water storage tank) - used for hot water only", regex = False), 'gas')
    # if other but gas mentioned -> gas 
    .mask(lambda x: x.str.contains("Other") & x.str.lower().str.contains('gas'), 'gas')
    # if other but electric mentioned -> electric 
    .mask(lambda x: x.str.contains("Other") & x.str.lower().str.contains('electric'), 'electric_w_storage')
    # remaining others are NaN
    .mask(lambda x: x.str.contains("Don't know") | x.str.contains('Other') , np.nan)
    .to_frame('water_heating')
)
print('after_preprocessing') 
display(heating_water_features.value_counts().to_frame('count'))

features = features.join(heating_water_features) 
info_df = info_df.drop(columns = 'Q248: Heating water')

before preprocessing

                                                    value
Q248: Heating water
Hot water storage tank with gas boiler - used f...   1057
Gas boiler (without hot water storage tank) - u...    902
Hot water storage tank with electric immersion ...    248
Hot water storage tank with gas boiler - used f...     85
Gas boiler (without hot water storage tank) - u...     81
...                                                   ...
Other; Other: Centrally heated                          1
Don't know; Other: POWER SHOWER AND KETTLE              1
Other; Other: communal oil heated                       1
Hot water storage tank with gas boiler - used f...      1
Other; Other: COMMUNAL                                  1

[100 rows x 1 columns]

after_preprocessing

                    count
water_heating
gas_w_storage        1150
gas                   992
electric_w_storage    261
nan                    21

## Irrelevant columns
Everything that remains is 'irrelevant'

In [23]:

with pd.option_context('display.max_rows', None, 'display.max_columns', 2) : 
    display(info_df.T)

meterID,D0000,...,N4172
question,,,
Q211: Smart Meter,Yes,...,Yes
Q212: Energy Decision Maker,Yes,...,Yes
Q230: Relationship to Others in household,Child/children; Other: SON,...,Husband/wife/partner;Brother(s) / sister(s)
Q232: Newspapers - Online,NaN,...,NaN
Q233: Newspapers - None read regularly,NaN,...,NaN
Q245: Insulation: Other,NaN,...,NaN
Q249: No. Light bulbs: Living room: Traditional,0.0,...,0.0
Q250: No. Light bulbs: Kitchen: Traditional,0.0,...,0.0
Q251: No. Light bulbs: Dining room: Traditional,0.0,...,0.0
Q252: No. Light bulbs: Bedroom 1: Traditional,0.0,...,1.0
Q253: No. Light bulbs: Bedroom 2: Traditional,0.0,...,1.0
Q254: No. Light bulbs: Bedroom 3: Traditional,0.0,...,0.0
Q255: No. Light bulbs: Living room: Low energy,1.0,...,1.0
Q256: No. Light bulbs: Kitchen: Low energy,1.0,...,1.0
Q257: No. Light bulbs: Dining room: Low energy,0.0,...,0.0
Q258: No. Light bulbs: Bedroom 1: Low energy,1.0,...,0.0
Q259: No. Light bulbs: Bedroom 2: Low energy,1.0,...,0.0
Q260: No. Light bulbs: Bedroom 3: Low energy,1.0,...,0.0
Q261: No. Light bulbs: Living room: Haolgen bulbs,0.0,...,0.0
Q262: No. Light bulbs: Kitchen: Haolgen bulbs,0.0,...,1.0
Q263: No. Light bulbs: Dining room: Haolgen bulbs,0.0,...,0.0
Q264: No. Light bulbs: Bedroom 1: Haolgen bulbs,0.0,...,0.0
Q265: No. Light bulbs: Bedroom 2: Haolgen bulbs,0.0,...,0.0
Q266: No. Light bulbs: Bedroom 3: Haolgen bulbs,0.0,...,0.0
Q267: No. Light bulbs: Living room: LED bulbs,0.0,...,0.0
Q268: No. Light bulbs: Kitchen: LED bulbs,0.0,...,0.0
Q269: No. Light bulbs: Dining room: LED bulbs,0.0,...,0.0
Q270: No. Light bulbs: Bedroom 1: LED bulbs,0.0,...,0.0
Q271: No. Light bulbs: Bedroom 2: LED bulbs,0.0,...,0.0
Q272: No. Light bulbs: Bedroom 3: LED bulbs,0.0,...,0.0
Q273: No. Light bulbs: Living room: Fluorescent tubes,0.0,...,0.0
Q274: No. Light bulbs: Kitchen: Fluorescent tubes,0.0,...,0.0
Q275: No. Light bulbs: Dining room: Fluorescent tubes,0.0,...,0.0
Q276: No. Light bulbs: Bedroom 1: Fluorescent tubes,0.0,...,0.0
Q277: No. Light bulbs: Bedroom 2: Fluorescent tubes,0.0,...,0.0
Q278: No. Light bulbs: Bedroom 3: Fluorescent tubes,0.0,...,0.0
Q321: TV Size 1,33 to 49 inches,...,33 to 49 inches
Q322: TV Size 2,25 to 32 inches,...,33 to 49 inches
Q323: TV Size 3,NaN,...,24 inches or less
Q324: TV Size 4,NaN,...,24 inches or less
Q325: TV Size 5,NaN,...,NaN
Q326: TV Size 6,NaN,...,NaN
Q327: Position of smart meter,I don't know where the display is; Other: THIR...,...,Kitchen
Q328: Frequency look at smart meter - You,Every 2-3 days,...,Less often than once a week
Q329: Frequency look at smart meter - Others,Never,...,Never
Q330: Frequency press buttons on smart meter - You,At least once every day,...,Less often than once a week
Q331: Frequency press buttons on smart meter - Others,NaN,...,Never
Q332: Interest in getting electricity from a renewable energy source,Not at all interested,...,Fairly interested
Q333: Interest in micro-generation,Very interested,...,Fairly interested
Q334: Concern about climate change,Very concerned,...,Very concerned
Q335: Feel about current lifestyle and the environment,I'd like to do a bit more to help the environment,...,I'm happy with what I do at the moment
Q336: Bill since smrt meter was installed,Yes and it covered partly or fully the period ...,...,Yes and it covered partly or fully the period ...
Q337: Describe amount charged on most recent bill,A little higher than I expected,...,A little higher than I expected
Q338: Confident bill is accurate,don't know,...,Not very confident
Q339: How helpful is smart meter in understanding bill,Have not thought about it,...,Fairly helpful
Q340: How helpful is smart meter in understanding consumption,Have not thought about it,...,Fairly helpful
Q341: How helpful is smart meter in managingconsumption,Have not thought about it,...,Fairly helpful
Q342: Change in perception of EDF Energy,Neither more nor less positive,...,Neither more nor less positive
Q343: Likelihood to recommend,9,...,6

## preprocessed features

Overview of the preprocessed features

In [24]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 2) : 
    display(features.T)
info_df = features

meterID,D0000,...,N4172
Fridges: type 1,0.0,...,0.0
Fridges: type 2,0.0,...,0.0
Fridges: type 3,0.0,...,0.0
Fridges: type 4,0.0,...,0.0
Freezers: type 1,0.0,...,0.0
Freezers: type 2,0.0,...,0.0
Freezers: type 3,0.0,...,0.0
Freezers: type 4,0.0,...,0.0
Freezers: type 5,0.0,...,0.0
Freezers: type 6,0.0,...,0.0
Fridge-Freezers: type 1,0.0,...,0.0
Fridge-Freezers: type 2,1.0,...,1.0
Fridge-Freezers: type 3,0.0,...,0.0
Fridge-Freezers: type 4,0.0,...,0.0
Electric hob,0.0,...,1.0
Gas hob,0.0,...,0.0
Electric oven,0.0,...,1.0
Microwave,1.0,...,1.0
Washing machine (not with dryer),1.0,...,1.0
Tumble dryer,0.0,...,1.0
Washer-dryer,0.0,...,0.0
Dishwasher,0.0,...,1.0
Electric shower,0.0,...,1.0
Over-sink electric water heater,0.0,...,0.0
Portable electric heater,0.0,...,0.0
Television,2.0,...,4.0
Desktop PC/computer,1.0,...,2.0
Laptop computer,0.0,...,2.0
Printer,1.0,...,0.0
Router (for broadband internet),1.0,...,1.0
Dvd/blu-ray player,1.0,...,0.0
"Cable TV box (e.g., Virgin)",0.0,...,0.0
"Satellite TV box (E.g., Sky)",1.0,...,1.0
Freeview TV box,0.0,...,0.0
Games console,1.0,...,1.0
Standby savers,0.0,...,0.0
TV Type 1,Plasma,...,NaN
TV Type 2,LCD,...,NaN
TV Type 3,NaN,...,Traditional/older style (CRT)
TV Type 4,NaN,...,Traditional/older style (CRT)
TV Type 5,NaN,...,NaN
TV Type 6,NaN,...,NaN
nb_of_inhabitants,2.0,...,3.0
work_from_home,Never,...,Never
nb_of_rooms,5.0,...,4.0
nb_of_bedrooms,3.0,...,2.0
insulation_double_glazing,Yes,...,Yes
insulation_roof,NaN,...,Yes
insulation_walls,NaN,...,Yes
insulation_floor,NaN,...,Don't know
insulation_warm_water_tank,NaN,...,Yes
nb_of_males,1,...,2
nb_of_females,1,...,1
mean_age,26.5,...,52.833333
min_age,13.5,...,39.5
max_age,39.5,...,59.5
home_ownership,Owns,...,Rents
building_type,flat,...,house-terraced
heating_gas,True,...,True
heating_electric,False,...,False
heating_other,False,...,False
heating_solid,False,...,False
heating_oil,False,...,False
heating_control_automatic_timed,False,...,False
heating_control_manual_boiler,True,...,False
heating_control_automatic_temperature,False,...,True
heating_control_manual_valves,False,...,False
heating_control_unknown,False,...,False
water_heating,gas,...,gas_w_storage

In [25]:
info_df.to_pickle(result_path/'raw_info_df_features.pkl')

# Final preprocessing for the tree models

## Gender columns are OK

## Water heating, fill NaNs as value between electrical and gas

In [26]:
print('before preprocessing') 
display(info_df.water_heating.value_counts(dropna = False))

info_df['water_heating'] = info_df['water_heating'].replace({
    'electric_w_storage': 1, 
    np.NaN: 1.5, 
    'nan': 1.5, 
    'gas':2, 
    'gas_w_storage': 3
})

print('after preprocessing')
info_df.water_heating.value_counts(dropna = False)

before preprocessing

water_heating
gas_w_storage         1150
gas                    992
electric_w_storage     261
NaN                    189
nan                     21
Name: count, dtype: int64

after preprocessing

water_heating
3.0    1150
2.0     992
1.0     261
1.5     210
Name: count, dtype: int64

## Fill NaN with means for nb_of_inhabitants, nb_of_rooms, nb_of_bedrooms

In [27]:
print('before preprocessing') 
display(info_df.nb_of_inhabitants.value_counts(dropna = False))

columns = ['nb_of_inhabitants', 'nb_of_rooms', 'nb_of_bedrooms']
info_df = info_df.fillna(info_df[columns].mean(axis = 0))
print('after preprocessing')
info_df.nb_of_inhabitants.value_counts(dropna = False)

before preprocessing

nb_of_inhabitants
1.0     916
2.0     914
3.0     306
4.0     193
NaN     174
5.0      75
6.0      20
7.0       6
9.0       3
8.0       3
11.0      2
12.0      1
Name: count, dtype: int64

after preprocessing

nb_of_inhabitants
1.000000     916
2.000000     914
3.000000     306
4.000000     193
2.072981     174
5.000000      75
6.000000      20
7.000000       6
9.000000       3
8.000000       3
11.000000      2
12.000000      1
Name: count, dtype: int64

## Home ownership: fill NaN's and encode as one_hot_encoding

In [28]:
print('before preprocessing') 
info_df.home_ownership.value_counts(dropna = False)

before preprocessing

home_ownership
Rents               1776
Owns                 566
Shared ownership     182
NaN                   77
Other                  6
Rent-free              5
Missing                1
Name: count, dtype: int64

In [29]:
info_df['home_ownership'] = info_df['home_ownership'].replace({np.NaN: 'Missing'}).str.lower().str.replace(' ', '_')
info_df.home_ownership.value_counts(dropna = False)

home_ownership_features = pd.get_dummies(info_df['home_ownership'], prefix = 'home_ownership')

info_df = (
    info_df
    .drop(columns = 'home_ownership')
    .join(home_ownership_features)

)

print('after preprocessing') 
home_ownership_features.head()

after preprocessing

,home_ownership_missing,home_ownership_other,home_ownership_owns,home_ownership_rent-free,home_ownership_rents,home_ownership_shared_ownership
meterID,,,,,,
D0000,False,False,True,False,False,False
D0001,False,False,False,False,True,False
D0002,False,False,True,False,False,False
D0003,False,False,True,False,False,False
D0004,False,False,False,False,True,False

## Work_from_home fill NaN's with -1 and encode as ordinal

In [30]:
print('before preprocessing')
info_df.work_from_home.value_counts(dropna = False)

before preprocessing

work_from_home
Never                  1831
Occasionally            418
Most/all weekdays       155
About half the time     110
NaN                      99
Name: count, dtype: int64

In [31]:
info_df['work_from_home'] = info_df['work_from_home'].replace({
    np.NaN: -1, 
    'Never': 0, 
    'Occasionally': 1, 
    'About half the time': 2, 
    'Most/all weekdays': 3
})

In [32]:
print('after preprocessing')
info_df.work_from_home.value_counts(dropna = False)

after preprocessing

work_from_home
 0    1831
 1     418
 3     155
 2     110
-1      99
Name: count, dtype: int64

## Building type to ordinal

In [33]:
print('before preprocessing') 
info_df.building_type.value_counts(dropna = False)

before preprocessing

building_type
flat                   922
house-semi-detached    766
house-terraced         705
house-detached         178
NaN                     38
mobile                   4
Name: count, dtype: int64

In [34]:
info_df['building_type'] = info_df['building_type'].replace({
    np.NaN: -1, 
    "mobile": 0, 
    "flat":1, 
    'house-terraced': 2, 
    'house-semi-detached':3, 
    'house-detached': 4
})

In [35]:
print('after preprocessing') 
info_df.building_type.value_counts(dropna = False)

after preprocessing

building_type
 1    922
 3    766
 2    705
 4    178
-1     38
 0      4
Name: count, dtype: int64

## TVs to count of TVs per type

In [36]:
tv_type_columns = ['TV Type 1', 'TV Type 2', 'TV Type 3', 'TV Type 4',
       'TV Type 5', 'TV Type 6']

print('before preprocessing') 
info_df[tv_type_columns].head()

before preprocessing

,TV Type 1,TV Type 2,TV Type 3,TV Type 4,TV Type 5,TV Type 6
meterID,,,,,,
D0000,Plasma,LCD,NaN,NaN,NaN,NaN
D0001,LED,NaN,NaN,NaN,NaN,NaN
D0002,Plasma,LED,NaN,NaN,NaN,NaN
D0003,LCD,NaN,NaN,NaN,NaN,NaN
D0004,Plasma,Plasma,Traditional/older style (CRT),Traditional/older style (CRT),NaN,NaN

In [37]:
tv_counts = (
    info_df[tv_type_columns]
    .replace({"Don't know":'Unknown', 'Traditional/older style (CRT)':'crt'})
    .apply(lambda x: x.value_counts(),axis = 1)
    # fill NaN's with 0 
    .fillna(0)
    .rename(columns = lambda x: f'tv_count_{x.lower()}')
)


info_df = (
    info_df
    .drop(columns = tv_type_columns)
    .join(tv_counts)
)

print('after preprocessing') 
tv_counts.head()

after preprocessing

,tv_count_lcd,tv_count_led,tv_count_other,tv_count_plasma,tv_count_unknown,tv_count_crt
meterID,,,,,,
D0000,1.0,0.0,0.0,1.0,0.0,0.0
D0001,0.0,1.0,0.0,0.0,0.0,0.0
D0002,0.0,1.0,0.0,1.0,0.0,0.0
D0003,1.0,0.0,0.0,0.0,0.0,0.0
D0004,0.0,0.0,0.0,2.0,0.0,2.0

## Insulation to 0, 0.5, 1 (False, Missing, True)

In [38]:
columns = ['insulation_double_glazing', 'insulation_roof', 'insulation_walls', 'insulation_floor', 'insulation_warm_water_tank']

In [39]:
info_df[columns] = info_df[columns].replace({
    'Yes':1, 
    'No': 0, 
    np.NaN: 0.5, 
    "Don't know": 0.5, 
})

## Heating columns to 0, 0.5, 1 (False, Missing, True)

In [40]:
heating_columns = ['heating_gas',
       'heating_electric', 'heating_other', 'heating_solid', 'heating_oil',
       'heating_control_automatic_timed', 'heating_control_manual_boiler',
       'heating_control_automatic_temperature',
       'heating_control_manual_valves', 'heating_control_unknown']
info_df[heating_columns].stack(dropna = False).value_counts(dropna = False)

False    20378
True      5627
NaN        125
Name: count, dtype: int64

In [41]:
info_df[heating_columns] = info_df[heating_columns].replace({
    np.NaN: 0.5, 
    False: 0, 
    True: 1
})

## The fridge freezer and appliance columns are ok

In [42]:
fridge_columns = ['Fridges: type 1', 'Fridges: type 2', 'Fridges: type 3',
       'Fridges: type 4', 'Freezers: type 1', 'Freezers: type 2',
       'Freezers: type 3', 'Freezers: type 4', 'Freezers: type 5',
       'Freezers: type 6', 'Fridge-Freezers: type 1',
       'Fridge-Freezers: type 2', 'Fridge-Freezers: type 3',
       'Fridge-Freezers: type 4']
info_df[fridge_columns].stack().value_counts(dropna = False)

0.0     32576
1.0      3812
2.0       184
3.0         9
10.0        1
Name: count, dtype: int64

In [43]:
appliance_columns = ['Electric hob', 'Gas hob', 'Electric oven', 'Microwave',
       'Washing machine (not with dryer)', 'Tumble dryer', 'Washer-dryer',
       'Dishwasher', 'Electric shower', 'Over-sink electric water heater',
       'Portable electric heater', 'Television', 'Desktop PC/computer',
       'Laptop computer', 'Printer', 'Router (for broadband internet)',
       'Dvd/blu-ray player', 'Cable TV box (e.g., Virgin)',
       'Satellite TV box (E.g., Sky)', 'Freeview TV box', 'Games console',
       'Standby savers']
info_df[appliance_columns].stack().value_counts(dropna = False)

0.0     32566
1.0     21440
2.0      2361
3.0       685
4.0       308
5.0        75
6.0        33
7.0         6
8.0         3
12.0        2
21.0        2
10.0        1
11.0        1
63.0        1
41.0        1
9.0         1
Name: count, dtype: int64

## Final state

In [44]:
info_df.columns = info_df.columns.str.lower().str.replace(': ', '_').str.replace(' ', '_')
info_df = info_df.rename(columns = {'cable_tv_box_(e.g.,_virgin)': 'cable_tv_box', 'satellite_tv_box_(e.g.,_sky)': 'satellite_tv_box'})
with pd.option_context('display.max_rows', None,
                       'display.max_columns', 3):
    display(info_df.T)
info_df.to_pickle(result_path/'raw_info_df_numerical.pkl')

meterID                                D0000  ...      N4172
fridges_type_1                           0.0  ...        0.0
fridges_type_2                           0.0  ...        0.0
fridges_type_3                           0.0  ...        0.0
fridges_type_4                           0.0  ...        0.0
freezers_type_1                          0.0  ...        0.0
freezers_type_2                          0.0  ...        0.0
freezers_type_3                          0.0  ...        0.0
freezers_type_4                          0.0  ...        0.0
freezers_type_5                          0.0  ...        0.0
freezers_type_6                          0.0  ...        0.0
fridge-freezers_type_1                   0.0  ...        0.0
fridge-freezers_type_2                   1.0  ...        1.0
fridge-freezers_type_3                   0.0  ...        0.0
fridge-freezers_type_4                   0.0  ...        0.0
electric_hob                             0.0  ...        1.0
gas_hob                                  0.0  ...        0.0
electric_oven                            0.0  ...        1.0
microwave                                1.0  ...        1.0
washing_machine_(not_with_dryer)         1.0  ...        1.0
tumble_dryer                             0.0  ...        1.0
washer-dryer                             0.0  ...        0.0
dishwasher                               0.0  ...        1.0
electric_shower                          0.0  ...        1.0
over-sink_electric_water_heater          0.0  ...        0.0
portable_electric_heater                 0.0  ...        0.0
television                               2.0  ...        4.0
desktop_pc/computer                      1.0  ...        2.0
laptop_computer                          0.0  ...        2.0
printer                                  1.0  ...        0.0
router_(for_broadband_internet)          1.0  ...        1.0
dvd/blu-ray_player                       1.0  ...        0.0
cable_tv_box                             0.0  ...        0.0
satellite_tv_box                         1.0  ...        1.0
freeview_tv_box                          0.0  ...        0.0
games_console                            1.0  ...        1.0
standby_savers                           0.0  ...        0.0
nb_of_inhabitants                        2.0  ...        3.0
work_from_home                             0  ...          0
nb_of_rooms                              5.0  ...        4.0
nb_of_bedrooms                           3.0  ...        2.0
insulation_double_glazing                1.0  ...        1.0
insulation_roof                          0.5  ...        1.0
insulation_walls                         0.5  ...        1.0
insulation_floor                         0.5  ...        0.5
insulation_warm_water_tank               0.5  ...        1.0
nb_of_males                                1  ...          2
nb_of_females                              1  ...          1
mean_age                                26.5  ...  52.833333
min_age                                 13.5  ...       39.5
max_age                                 39.5  ...       59.5
building_type                              1  ...          2
heating_gas                              1.0  ...        1.0
heating_electric                         0.0  ...        0.0
heating_other                            0.0  ...        0.0
heating_solid                            0.0  ...        0.0
heating_oil                              0.0  ...        0.0
heating_control_automatic_timed            0  ...          0
heating_control_manual_boiler              1  ...          0
heating_control_automatic_temperature      0  ...          1
heating_control_manual_valves              0  ...          0
heating_control_unknown                    0  ...          0
water_heating                            2.0  ...        3.0
home_ownership_missing                 False  ...      False
home_ownership_other                   False  ...      False
home_ownership_owns                     True  ...      False
home_ownership_rent-free               False  ...      False
home_ownership_rents                   False  ...       True
home_ownership_shared_ownership        False  ...      False
tv_count_lcd                             1.0  ...        0.0
tv_count_led                             0.0  ...        0.0
tv_count_other                           0.0  ...        0.0
tv_count_plasma                          1.0  ...        0.0
tv_count_unknown                         0.0  ...        0.0
tv_count_crt                             0.0  ...        2.0

[74 rows x 2613 columns]

# Preprocess to final version

In [50]:
from util import transform_raw_data_and_save, check_dataset

yearly_data_df, daily_data_df, yearly_info_df, daily_info_df = transform_raw_data_and_save(
    raw_data_df = result_path/'2013_filtered_no_nan.pkl', 
    yearly_info_df = result_path/'raw_info_df_numerical.pkl', 
    result_path = preprocessed_path, 
    weather_city = 'London',
    holiday_country = 'England', 
    year_to_use_as_index = 2013
)
check_dataset((yearly_data_df, daily_data_df, yearly_info_df, daily_info_df))

In [53]:
def get_meterid_count(df):
    multiindex_counts = df.index.get_level_values('meterID').value_counts()
    count = 0
    for meterID in multiindex_counts.index:
        if multiindex_counts[meterID] < 365 and multiindex_counts[meterID] > 350:
            count += 1
            print(meterID, multiindex_counts[meterID])
    print(f"count {count}")

In [ ]:
raw = pd.read_pickle(result_path/'raw_data_df.pkl')
get_meterid_count(raw)
print("##############################################")
get_meterid_count(daily_info_df)

In [66]:
daily_data_df_filtered = daily_data_df.drop(index=daily_data_df.index.get_level_values("meterID") == 'D0000').copy()

KeyError: True

In [72]:
daily_data_df_filtered = daily_data_df[daily_data_df.index.get_level_values('meterID') != 'D0000']
yearly_data_df_filtered = yearly_data_df[yearly_data_df.index.get_level_values('meterID') != 'D0000']
yearly_info_df_filtered = yearly_info_df[yearly_data_df.index.get_level_values('meterID') != 'D0000']
daily_info_df_filtered = daily_info_df[daily_data_df.index.get_level_values('meterID') != 'D0000']

In [75]:
daily_data_df_filtered.to_pickle(preprocessed_path/'daily_data_df_filtered.pkl')
yearly_data_df_filtered.to_pickle(preprocessed_path/'yearly_data_df_filtered.pkl')
yearly_info_df_filtered.to_pickle(preprocessed_path/'yearly_info_df_filtered.pkl')
daily_info_df_filtered.to_pickle(preprocessed_path/'daily_info_df_filtered.pkl')

In [70]:
get_meterid_count(df_filtered)

count 0

In [ ]:
yearly_data_df.index.get_level_values(0)
#yearly_data_df.to_csv("Data/London_dataset/preprocessed/csv/yearly_info_df.csv",index=False)

In [ ]:
daily_info_df.tail()
daily_info_df.to_csv("Data/London_dataset/preprocessed/csv/daily_info_df.csv",index=True)

In [73]:

merged = daily_info_df_filtered.merge(yearly_info_df_filtered,on=['meterID', 'year'], how="left")
merged.to_pickle("Data/London_dataset/preprocessed/combined_attributes_filtered.pkl")